{% extends '::base.html.twig' %}

{% block body -%}
    
           <!-- widget grid -->
                    <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-{{escuela.id}}" data-widget-editbutton="false">
                         <!-- widget options:
                         usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                        -->
                    <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Hetero Evaluación de Docentes de la Escuela {{escuela.sigla}} en el periodo: {{pe}} </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                    </div>
            <table id="datatable_tabletools" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cédula</th>
                <th>Nombres</th>
                 <th>Apellidos</th>
                 <th>Vinculación</th>
                 <th>Programa</th>
                 <th>Centro</th>
                <th>Comp 1</th>
                <th>Comp 2</th>
                <th>Comp 3</th>
                <th>Comp 4</th>
                <th>Comp 5</th>
                <th>Comp 6</th>
                <th>Final</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in hetero %}
            <tr>
            <td>{{ entity.docente.id }}</td>
             <td>{{ entity.docente.user.id }}</td>
            <td>{{ entity.docente.user.nombres }}</td>
            <td>{{ entity.docente.user.apellidos }}</td>
            <td>{{ entity.docente.vinculacion }}</td>
            <td>{{ entity.docente.programa.id }}</td>
            <td>{{ entity.docente.centro.id }}</td>
            <td>{{ entity.competencia1|number_format(2, '.', ',') }}</td>
            <td>{{ entity.competencia2|number_format(2, '.', ',') }}</td>
            <td>{{ entity.competencia3|number_format(2, '.', ',') }}</td>
            <td>{{ entity.competencia4|number_format(2, '.', ',') }}</td>
            <td>{{ entity.competencia5|number_format(2, '.', ',') }}</td>
            <td>{{ entity.competencia6|number_format(2, '.', ',') }}</td>
            <td>{{ ((entity.competencia1+entity.competencia2+entity.competencia3+entity.competencia4+entity.competencia5+entity.competencia6)/120)|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
                        </div>
                    <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                    </div>
                    <!-- end row -->
                    </section>
                    <!-- end widget grid -->     
                    
                    
                     <table>
          <tr>
<td class="data" colspan="11">
    <b>Competencias evaluadas</b><br>    
Comp 1 : COGNITIVA<br>
Comp 2 : COMUNICATIVA<br>
Comp 3 : METODOLÓGICA<br>
Comp 4 : PEDAGÓGICO-DIDÁCTICAs<br>
Comp 5 : SOCIOAFECTIVA<br>
Comp 6 : TECNOLÓGICA<br>
      </td>
      </tr>
</table>   
   
{%endblock%}    