{% extends '::base.html.twig' %}

{% block body -%}

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-{{miescuela}}" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Hetero Evaluación por Escuela : {{miescuela}}</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                            </div>
                            <table id="datatable_tabletools" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Escuela</th>
                                        <th>Periodo</th>
                                        <th>Competencia1</th>
                                        <th>Competencia2</th>
                                        <th>Competencia3</th>
                                        <th>Competencia4</th>
                                        <th>Competencia5</th>
                                        <th>Competencia6</th>
                                        <th>Promedio</th>
                                        <th>Docentes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in data %}
                                        <tr>
                                            <td>{{ entity.escuela }}</td>
                                            <td>{{ entity.periodo }}</td>
                                            <td>{{ entity.competencia1|number_format(2, '.', ',') }}</td>
                                            <td>{{ entity.competencia2|number_format(2, '.', ',') }}</td>
                                            <td>{{ entity.competencia3|number_format(2, '.', ',') }}</td>
                                            <td>{{ entity.competencia4|number_format(2, '.', ',') }}</td>
                                            <td>{{ entity.competencia5|number_format(2, '.', ',') }}</td>
                                            <td>{{ entity.competencia6|number_format(2, '.', ',') }}</td>
                                            <td>{{ ((entity.competencia1+entity.competencia2+entity.competencia3+entity.competencia4+entity.competencia5+entity.competencia6)/120)|number_format(2, '.', ',') }}</td>

                                            {%if miescuela==''%}
                                                <td>
                                                    <a href="{{ path('hetero_esc_per', { 'esc': entity.escuela_id, 'pe' : entity.periodo  }) }}">{{ entity.docentes }}</a>
                                                </td>
                                            {%else%}
                                                <td>
                                                    {%if entity.escuela_id == miescuela%}
                                                        <a href="{{ path('hetero_esc_per', { 'esc': entity.escuela_id, 'pe' : entity.periodo  }) }}">{{ entity.docentes }}</a>
                                                    {%else%}
                                                        {{ entity.docentes }}
                                                    {%endif%}
                                                </td>
                                            {%endif%}
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->     

    <table>
          <tr>
<td class="data" colspan="11">
    <b>Competencias evaluadas</b><br>    
Competencia1 : COGNITIVA<br>
Competencia2 : COMUNICATIVA<br>
Competencia3 : METODOLÓGICA<br>
Competencia4 : PEDAGÓGICO-DIDÁCTICAs<br>
Competencia5 : SOCIOAFECTIVA<br>
Competencia6 : TECNOLÓGICA<br>
      </td>
      </tr>
</table>
{%endblock%}    