{% block body -%}

     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            {%if tipo == 1%}
            <h4 class="modal-title">Registrar productividad vinculada a proyecto de investigación</h4>
            {%else%}
            <h4 class="modal-title">Registrar productividad NO vinculada a proyecto de investigación</h4>
            {%endif%}
            </div>			<!-- /modal-header -->
            <div class="modal-body">          
   <form action="{{ path('productividad_add', { 'id' : docenteid } ) }}" method="POST"  {{ form_enctype(form) }}>
   <table class="table table-bordered table-striped hidden-mobile">
   <input type="hidden" name="_method" value="POST" />
     {{ form_errors(form) }}
    {%if tipo == 1%}
              <tr>
    <td>Proyecto de investigación </td>
    <td> {{ form_widget(form.proyecto) }}</td>
  </tr>
  {%else%}
     <tr>
    <td>Articulación a responsabilidades sustantivas</td>
    <td> {{ form_widget(form.articulacion) }}</td>
  </tr>
  {%endif%}
     <tr>
    <td>Tipo de producto</td>
    <td> {{ form_widget(form.tipo) }}<br>
    Escriba el producto genérico no el tituló, ejemplo: articulo, ponencia, libro etc.
    </td>
  </tr>
    <tr>
    <td>Descripción del producto</td>
    <td> {{ form_widget(form.descripcion) }}</td>
  </tr>
  <tr>
    <td></td>
    <td><button type="hidden" class="btn btn-sm btn-primary">Agregar</button></td>
  </tr>
  {{ form_widget(form._token) }}
  </table>
     
   </form>
   </div>
    {% endblock %}
