{% block body -%}

     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
    
            <h4 class="modal-title">Registrar proyecto de investigaci贸n</h4>
       
            </div>			<!-- /modal-header -->
            <div class="modal-body">          
   <form action="{{ path('productividad_projectadd' ) }}" method="POST" {{ form_enctype(form) }}>
   <table class="table table-bordered table-striped hidden-mobile">
   <input type="hidden" name="_method" value="POST" />
     {{ form_errors(form) }}

     <tr>
    <td>Nombre del Proyecto de Investigaci贸n</td>
    <td> {{ form_widget(form.nombre) }}<br>
    Registre el proyecto que cuente con aval institucional.

    </td>
  </tr>
     <tr>
    <td>Linea de investigaci贸n de Escuela</td>
    <td> {{ form_widget(form.linea) }}<br>
    Consulte las lineas de investigaci贸n vigentes con su Escuela.
    </td>
  </tr>

  <tr>
    <td></td>
    <td><button type="hidden" class="btn btn-sm btn-primary">Agregar</button></td>
  </tr>
  {{ form_widget(form._token) }}
  </table>
     
   </form>
   </div>
    {% endblock %}
