{% extends '::base.html.twig' %}

{% block body -%}
 <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
            <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Información del Usuario</h2>
            </header>     
                <!-- widget div-->
                <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="content">
                <div class="widget-body no-padding" id="bodyform">
                <div class="form_error">
                </div> 
 <form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <table class="table table-bordered table-striped hidden-mobile" style="width: 80%">
   <input type="hidden" name="_method" value="PUT"/>
     {{ form_errors(edit_form) }}
   <tr>
    <td>Identificación</td>
    <td>{{ form_widget(edit_form.id) }}</td>
   </tr>
   <tr>
    <td>Usuario</td>
    <td>{{ form_widget(edit_form.username) }}</td>
   </tr>
   <tr>
    <td>Nombres</td>
    <td>{{ form_widget(edit_form.nombres) }}</td>
   </tr>
      <tr>
    <td>Apellidos</td>
    <td>{{ form_widget(edit_form.apellidos) }}</td>
   </tr>
      <tr>
    <td>Email Unad</td>
    <td>{{ form_widget(edit_form.email) }}</td>
   </tr>
   <tr>
    <td>Email Personal</td>
    <td>{{ form_widget(edit_form.emailp) }}</td>
   </tr>
   <tr>
    <td>Estado</td>
    <td>Activo: {{ form_widget(edit_form.isActive) }}
    </td>
   </tr>
   <tr>
    <td>Roles</td>
    <td>{{ form_widget(edit_form.user_roles) }}
    </td>
   </tr>
   <tr>
    <td></td>
    <td>    
    <button type="submit" class="btn btn-lg btn-primary">Guardar</button></td>
  </tr>
  {{ form_widget(edit_form._token) }}
  </table>
</form>

</div>
<!-- end widget content -->
</div>
</div>
<!-- end widget div -->
</div>
<!-- end widget -->                                                           
</article>
                   


<ul class="record_actions">
    <li>
        <a href="{{ path('admin_user_show', {'id':entity.id}) }}">
            Regresar
        </a>
    </li>
</ul>

{% endblock %}
