{% extends '::base.html.twig' %}

{% block body -%}
    <table class="table table-bordered table-striped" style="width: 550px">
    <form action="{{ path('admon_user_buscarpor')}}" method="post" {{ form_enctype(buscar_form) }}>
        <input type="hidden" name="_method" value="PUT" /> 
        <tr>
            <td>Usuarios ({{entities|length}}) </td>    
         <td>{{ form_widget(buscar_form.texto) }}</td>
         <td>{{ form_widget(buscar_form.parametro) }}</td>
         <td>
        <p>
            <button type="submit">Buscar</button>
        </p> 
         </td>
     </tr>
     </form>
    </table>
<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Exportar a PDF / Excel</h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
										<div class="widget-body-toolbar">
				
										</div>
				<table id="datatable_tabletools" class="table table-striped table-hover">
                                    <thead>
            <tr class="data">
                <th class="data">Id</th>
                <th class="data">Nombres</th>
                <th class="data">Apellidos</th>
                <th class="data">Email UNAD</th>
                <th class="data">Email Personal</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr table class="data">
                <td class="data">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')  %}
                <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                {%else%}{{ entity.id }}{%endif%}
                </td>
                <td class="data">{{ entity.nombres }}</td>
                <td class="data">{{ entity.apellidos }}</td>
                <td class="data">{{ entity.email }}</td>
                <td class="data">{{ entity.emailp }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}  
        <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                Nuevo
            </a>
        </li>
    </ul>
    {%endif%}
    {% endblock %}
