{% extends '::base.html.twig' %}

{% block body -%} 

 
    <a href="{{ path('admin_user') }}" class="btn btn-labeled btn-success"> <span class="btn-label"><i class="glyphicon glyphicon-backward"></i></span>Regresar </a>
    
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-4"  data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Usuario {{ entity.id }}</h2>
        </header>    
        <!-- widget div-->
        <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body">    
    
      <table class="table table-bordered table-striped hidden-mobile">
        <tbody>
            <tr>
                <td>Nombres: {{ entity.nombres }} </td>
                <td>Apellidos: {{ entity.apellidos }}</td>
            </tr>
            <tr>
                <td>Email: {{ entity.email }}</td>
                <td>Roles: {% for rol in entity.roles %} {{rol.descripcion}}, {%endfor%} </td>
            </tr>
            <tr>
                <td>Fecha Creación: {{entity.created|date('Y-m-d H:i')}}</td>
                <td>Fecha Actualización: {{entity.updated|date('Y-m-d H:i')}}</td>
            </tr>
            <tr>
                <th>Docente del periodo en curso:</th>
                <td>
                    {% for entity in entity.getDocente %}
     <a href="{{ path('docente_info', { 'id': entity.id }) }}">
    {{entity.id}}
     </a>
    {%endfor%}    
                </td>
                
                
            
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}

<a class="btn btn-default" href="{{ path('admin_user_edit', { 'id': entity.id }) }}">Editar</a>
{%endif%}
        </div><!-- end widget content -->
        </div><!-- end widget div -->
        </div><!-- end widget -->                                                           
    </article>



    {% if is_granted('ROLE_ADMIN') %}
    
 <article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-5" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
            <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Nueva Contraseña</h2>
            </header>     
                <!-- widget div-->
                <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="content">
                <div class="widget-body no-padding" id="bodyform">
                <div class="form_error">
                </div>
        <form method="POST" class="smart-form"  method="POST" action="{{path('admin_user_newpass', { 'id': entity.id })}}" {{ form_enctype(newpass_form) }}>
        <div id="form_body">
        {{ form_errors(newpass_form) }}
        </div>
        <footer>
        <button type="submit" class="btn btn-primary">Crear</button>
        </footer>
        {{form_rest(newpass_form)}}
        </form>
             </div>
              <!-- end widget content -->
                </div>
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->                                                           
        </article>    
    
   {%endif%}

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-6"  data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Evaluaciones Anteriores</h2>
        </header>    
        <!-- widget div-->
        <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body">
           <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Vinculacion</th>
                        <th>Escuela</th>
                        <th>Centro</th>
                        <th>Zona</th>
                        <th>Periodo</th>
                        <th>Final</th>
                        <th>Informe</th>
                    </tr>
                </thead>
             <tbody>
        {% for entity in archivo %}
            <tr>
                <td><a href="{{ path('archivo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.vinculacion }}</td>
                <td>{{ entity.sigla }}</td>
                <td>{{ entity.centro }}</td>
                <td>{{ entity.zona }}</td>
                <td>{{ entity.periodo }}</td>
                <td>{{ entity.final }}</td>
                <td>
                <a href="javascript:popUp('{{ path('_welcome') }}archivo/{{entity.periodo}}/informe/{{ entity.cedula }}-{{ entity.periodo }}.pdf')" class="btn btn-primary btn-xs"><i class="fa fa-file"></i></a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
        
        </table>
                                                                                
        </div><!-- end widget content -->
        </div><!-- end widget div -->
        </div><!-- end widget -->                                                           
 
    </article>

<script>
  
function popUp(URL) {

    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
    } 
    else{ 
        popupWin.location.href = URL; 
    }
    popupWin.focus(); 
 }
</script>    
{% endblock %}
