{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario {{ entity.id }}</h1>

      <table class="table table-bordered table-striped hidden-mobile">
        <tbody>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>
            <tr>
                <th>Docente del periodo en curso:</th>
                <td>
                    {% for entity in entity.getDocente %}
     <a href="{{ path('docente_info', { 'id': entity.id }) }}">
    {{entity.id}}
     </a>
    {%endfor%}    
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Regresar
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
    
<h1>Evaluaciones Anteriores</h1>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Vinculacion</th>
                <th>Escuela</th>
                <th>Centro</th>
                <th>Zona</th>
                <th>Periodo</th>
                <th>Final</th>
                <th>Informe</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in archivo %}
            <tr>
                <td><a href="{{ path('archivo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.vinculacion }}</td>
                <td>{{ entity.sigla }}</td>
                <td>{{ entity.centro }}</td>
                <td>{{ entity.zona }}</td>
                <td>{{ entity.periodo }}</td>
                <td>{{ entity.final }}</td>
                <td>
                <a href="javascript:popUp('{{ path('_welcome') }}archivo/{{entity.periodo}}/informe/{{ entity.cedula }}-{{ entity.periodo }}.pdf')" class="btn btn-primary btn-xs"><i class="fa fa-file"></i></a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <script>
  
function popUp(URL) {

    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
    } 
    else{ 
        popupWin.location.href = URL; 
    }
    popupWin.focus(); 
 }
</script>    
{% endblock %}
