{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Programas UNAD</h1>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Escuela</th>
                <th>Lider</th>
                <th>Nivel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('programa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.escuela? entity.escuela.sigla : 'sin' }}</td>
                <td>
                {%if entity.lider %}
                <a href="javascript:void(0);" rel="tooltip" data-placement="top" data-original-title="{{entity.lider.user.nombres}} {{entity.lider.user.apellidos}}"><i class="fa fa-arrow-up"></i>{{entity.lider.id}}</a>
               {%else%}
                sin
               {%endif%}
                </td>
                <td>{{ entity.nivel }}</td>
                <td>
                        <a href="{{ path('programa_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('programa_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
