{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Programa</h1>
        <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ entity.nivel }}</td>
            </tr>
            <tr>
                <th>Lider</th>
                <td>[{{ entity.lider? entity.lider.user.id}}]
                {{ entity.lider? entity.lider.user.nombres~' '~ entity.lider.user.apellidos : 'sin'}}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
        <li>
        <a href="{{ path('programa_edit', { 'id': entity.id }) }}">Edit</a>
        </li>
    <li>{{ form(delete_form) }}</li>
    </ul>
    {%endif%}
    
    Cursos:
    
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
    <tr>
    <th>id</th>
    <th>Curso</th>
    <th>Director</th>
    <th>Cedula</th>
    </tr>     
     {%for curso in entity.cursos %}
    
     <tr>
    <td>
    <a href="{{ path('curso_show', { 'id': curso.id }) }}">{{curso.id}}</a>
    </td>
    <td>{{curso.nombre}}</td>
    <td>{{curso.director.id}}</td>
    <td>{{curso.director.user.id}}</td>
    </tr>
    
    {%endfor%}

    
    </table>

    
{% endblock %}
