{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Programa</h1>
      <table class="table table-bordered table-striped hidden-mobile">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ entity.nivel }}</td>
            </tr>
            <tr>
                <th>Lider</th>
                <td>{{ entity.lider? entity.lider.user.nombres~' '~ entity.lider.user.nombres : 'sin'}}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
        <li>
        <a href="{{ path('programa_edit', { 'id': entity.id }) }}">Edit</a>
        </li>
    <li>{{ form(delete_form) }}</li>
    </ul>
    {%endif%}
    
    Cursos:
    {%for curso in entity.cursos %}
    {{curso.nombre}}
    {%endfor%}
    
{% endblock %}
