{% extends '::base.html.twig' %}
{% block body -%}
<table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
    <tr>
        <td><a href="{{path('docente_coevaldirector')}}"><< Regresar...</a></td>  
        <td>Curso: {{entity.curso.nombre}}</td>
        <td>Director: {{entity.curso.director.user.nombres}} {{entity.curso.director.user.apellidos}}</td>
        <td></td>
    </tr>
</table>
 
<form action="{{ path('coevaldirector_update', { 'id': entity.curso.id }) }}" method="post" {{ form_enctype(edit_form) }}>     
  <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
     <input type="hidden" name="_method" value="PUT" />
     {{ form_errors(edit_form) }}
        <thead>
            <tr class="data">
                <th class="data">Item</th>
                <th class="data">Factor</th>
                <th class="data">Descripción</th>
                <th class="data">Evaluación</th>
            </tr>
        </thead>
        <tbody>
                                              
            <tr>
    <td class="data" rowspan="2"><b>1</b></td>
    <td class="data"><b>Planificación del Curso</b></td>
    <td class="data">Establece o actualiza la Agenda para el desarrollo del curso académico, acorde con el Calendario Académico oficial. </td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f1)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediaciones</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>2</b></td>
    <td class="data"><b>Aprendizaje Autónomo</b></td>
    <td class="data">Consolida y proporciona las referencias, vínculos, bases de datos o cibergrafía necesaria y suficiente para apoyar el proceso de aprendizaje autónomo en el curso bajo su dirección.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f2)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediaciones</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>3</b></td>
    <td class="data"><b>Planificación del Curso</b></td>
    <td class="data">Desarrolla  los lineamientos para la certificación en AVA o CORE y puesta en escena del curso académico a su cargo en los   tiempos y condiciones institucionales establecidos.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f3)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>4</b></td>
    <td class="data"><b>Planificación del Curso</b></td>
    <td class="data">Diseña o actualiza las actividades de aprendizaje propias del curso académico de acuerdo a las estrategias pedagógico didácticas.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f4)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>5</b></td>
    <td class="data"><b>Planificación del Curso</b></td>
    <td class="data">Realizar la planificación pedagógico-didáctica  necesaria para desarrollar con calidad el componente práctico del curso bajo su dirección.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f5)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>6</b></td>
    <td class="data"><b>Peticiones, quejas y reclamos</b></td>
    <td class="data">Atiende como segunda instancia,  las solicitudes, peticiones, quejas y reclamos relacionados con el proceso formativo del estudiante. (situaciones que no pudieron ser atendidas por el tutor).</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f6)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>7</b></td>
    <td class="data"><b>Acompañamiento</b></td>
    <td class="data">Acompaña   la formación de los estudiantes de los grupos de curso asignados a su rol.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f7)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>8</b></td>
    <td class="data"><b>Desarrollo de la acción formativa</b></td>
    <td class="data">Realimenta las actividades académicas de los estudiantes de los grupos de curso asignados a su rol.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f8)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>9</b></td>
    <td class="data"><b>Desarrollo de la acción formativa</b></td>
    <td class="data">Acompaña las actividades académicas y evalúa los aprendizajes de estudiantes de seminarios, diplomados y cursos cortos de la Escuela Académica a la cual se encuentra adscrito.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f9)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>10</b></td>
    <td class="data"><b>Red de curso</b></td>
    <td class="data"> Dinamizo  la Red de Curso acorde con los lineamientos institucionales.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f10)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>11</b></td>
    <td class="data"><b>Red de curso</b></td>
    <td class="data">Incentiva en red el debate disciplinar, didáctico, evaluativo, metodológico y de seguimiento al estudiante, con fines de mejora continua del curso.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f11)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>      
                                  
            <tr>
    <td class="data" rowspan="2"><b>12</b></td>
    <td class="data"><b>Red de curso</b></td>
    <td class="data">Consolida  con la Red el avance de innovaciones pedagógicas y el uso didáctico de las tecnologías telemáticas en el curso.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f12)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>
  <tr>
  
            <tr>
    <td class="data" rowspan="2"><b>13</b></td>
    <td class="data"><b>Desarrollo de la acción formativa</b></td>
    <td class="data">Evalúa los aprendizajes de los estudiantes de los grupos de curso asignados a su rol con calidad y a tiempo. </td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f13)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>
  <tr>
            <tr>
    <td class="data" rowspan="2"><b>14</b></td>
    <td class="data"><b>Desarrollo de la acción formativa</b></td>
    <td class="data">Registra las notas de los estudiantes a su cargo a tiempo, en coherencia con las fechas establecidas institucionalmente.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f14)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Pedagógico-Didáctico Dimensión: Mediadores</i></td>
  </tr>
  <tr>
            <tr>
    <td class="data" rowspan="2"><b>15</b></td>
    <td class="data"><b>Investigación</b></td>
    <td class="data">Desarrolla investigación con resultados y productos evidenciables acorde con el plan de trabajo establecido.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f15)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Investigación Dimensión : Actividad Invertigativa</i></td>
  </tr>
  <tr>
              <tr>
    <td class="data" rowspan="2"><b>16</b></td>
    <td class="data"><b>Trabajo en Equipo</b></td>
    <td class="data">El docente promueve y mantiene el trabajo en equipo con los tutores y promueve esfuerzos orientados al logro de objetivos comunes.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f16)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Actitudes y Comportamientos</i></td>
  </tr>
  <tr>
    <td class="data" rowspan="2"><b>17</b></td>
    <td class="data"><b>Compromiso</b></td>
    <td class="data">Motiva con su ejemplo y acción pedagógica, procesos de mejoramiento que redundan en el logro de los propósitos institucionales.</td>
    <td class="data" rowspan="2">{{ form_row(edit_form.f17)}}</td>
  </tr>
  <tr>
    <td class="data" colspan="2"><i>Variable: Actitudes y Comportamientos</i></td>
  </tr>
  <tr>
  <tr>
    <td class="data" colspan="4">{{ form_row(edit_form.observaciones)}}</td>
  </tr>
  
    <tr>
    <td class="data" colspan="4" align="center"><button type="submit">Enviar</button></td>
  </tr>
    </tbody>
    </table>
 {{ form_widget(edit_form._token) }}
  </form>

   <script>
  
function popUp(URL) {
    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
    } 
    else{ 
        popupWin.location.href = URL; 
    }
    popupWin.focus(); 
 }
</script>  
  {% endblock %}

