{% extends '::base.html.twig' %}

{% block body -%}
 {% if is_granted('ROLE_DIRZ')  %} 
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            {%for zona in zonas%}
            <tr>
                <td colspan ='6'>
            <h1>ZONA: {{zona.id}} - {{zona.nombre}} </h1>   
                </td>
            </tr>
            <tr>
                <th>Id</th>
              <th>Nombre</th>
                <th>Tipo</th>
                <th>Director Centro</th>
                <th>Ver Docentes</th>
               
            </tr>
            {%for entity in zona.centros %}
            <tr>
                <td>{{ entity.id }}</td>
                 <td>{{ entity.nombre }}</td>
                  <td>{{ entity.tipo }}</td>
                    <td>
{%if entity.director%}
{{ entity.director.id }} - {{ entity.director.nombres }} {{ entity.director.apellidos }}
            {%endif%}        
                    </td>
                   <td><a href="{{ path('centro_docs', { 'id': entity.id }) }}">Ver...</a></td>
            </tr>
            {%endfor%}
            {%endfor%}
        </tbody>
    </table>
    {%else%}

    <h1>Direcciones de Centro</h1>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            <tr>
                <th>Id</th>
              <th>Nombre</th>
                <th>Tipo</th>
                <th>Zona</th>
                <th>Director Zona</th>
                <th>Ver Docentes</th>
               
            </tr>
            {%for entity in centros %}
            <tr>
                <td>{{ entity.id }}</td>
                 <td>{{ entity.nombre }}</td>
                  <td>{{ entity.tipo }}</td>
                   <td>{{ entity.zona.nombre }}</td>
                    <td>{{ entity.zona.director.id }} - {{ entity.zona.director.nombres }} {{ entity.zona.director.apellidos }}</td>
                    <td><a href="{{ path('centro_docs', { 'id': entity.id }) }}">Ver docentes...</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
    
{% endblock %}
