{% extends '::base.html.twig' %}
{% block body -%}
    <h3>Roles Asignación Académica de: {{ entity.docente.user.nombres }} {{ entity.docente.user.apellidos }}
        : {{ entity.docente.user.id }}</h3>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
        <tr>
            <td>Fecha creación: {{ entity.fechacreacion? entity.fechacreacion|date('Y-m-d H') :'' }}</td>
            <td>Fecha cierre: {{ entity.fechacierre? entity.fechacierre|date('Y-m-d H:i') : '' }}</td>
        </tr>
        <tr>
            <td colspan="2">Estado:
                {{ entity.estado }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h5>Apreciado Docente Ocasional y Hora Cátedra:</h5>
                <ul>
                    <li>La siguiente es la asignación académica suministrada por Talento Humano.</li>
                    <li>Para todos los roles las actividades se asignan automáticamente y estas no se pueden
                        modificar.
                    </li>
                    <li>La autoevaluación se realiza por el desempeño en general de cada rol durante el periodo de
                        evaluación (semestre) que puede incluir uno o varios períodos académicos.
                    </li>
                </ul>
                    <h5>Importante antes de confirmar su asignación:</h5>
                    <ul>
                        <li>Si considera que los roles de formación (Tutor / Director de Curso) no corresponden a su
                            asignación por favor envíe un correo a "siga@unad.edu.co" indicando porque.
                        </li>
                        <li>Si tiene registradas “Otras Actividades” y estas no corresponden debe aceptar el registro y
                            luego seleccionar la opción “No Aplica” y escribir una observación.
                        </li>
                        <li>Si considera que no tiene registrada alguna actividad para auto evaluación, acepte el registro y al finalizar el registro indique en observaciones qué actividad no autoavalúo.
                        </li>
                    </ul>

            </td>
        </tr>
        </tbody>
    </table>

    </table>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
        <tr>
            <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        {% set num = 0 %} {% set totalhoras = 0 %}
        {% set termino = 1 %}
        {% for rol in entity.roles %}

            <tr>
                {% set num = num+1 %}
                <td>{{ num }}.
                    {{ rol.rol.nombre }}<br>
                    {% if rol.descripcion %}
                        {{ rol.descripcion }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="3">
                {% if entity.estado != 'Confirmado' %}
                    <a data-toggle="modal" data-target="#ModalCerrar" class="btn btn-labeled btn-success"><span
                                class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Confirmar
                        Asignación</a>
                {% else %}
                    <a href="{{ path('plangestion_show', { 'id': entity.docente.id }) }}"
                       class="btn btn-primary btn-xs">Autoevaluación<i class="fa fa-sign-in"></i></a>
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>
    <br>
    <br>

    <div class="modal fade" data-refresh="true" id="ModalCerrar" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                    <h4 class="modal-title">Confirmar Asignación</h4>
                </div>            <!-- /modal-header -->
                <div class="modal-body">
                    IMPORTANTE:
                    Confirme su asignación para poder autoevaluarse, luego de confirmar no podrá solicitar ajustes a la
                    asignación en caso que realmente se requieran.<br>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('plangestion_confirm', { 'id': entity.docente.id }) }}" method="get">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <td>
                            <button type="hidden" class="btn btn-primary">Confirmar Asignación</button>
                        </td>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}
