{% extends '::base.html.twig' %}
{% block body -%}
    <h3>Plan Gestión de {{ entity.docente.user.nombres}} {{ entity.docente.user.apellidos}} : {{ entity.docente.user.id}} 
        Periodo: {{periodo.id}} Semanas: {{entity.dias/5}} Dias Habiles: {{entity.dias}}  Horas: {{entity.dias*8}}</h3>

</table>
<table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
    <thead>
        <tr>
            <th colspan="6"><h4>1. Roles<h4></th>
                        </tr>
                        <tr>
                            <th>Rol</th>
                            <th>Descripción</th>
                            <th>Horas Semana</th>
                            <th>Semanas</th>
                            <th>Horas Periodo</th>
                            <th>Borrar</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% set num = 0 %} {% set totalhoras = 0 %}
                            {% set termino = 1 %}
                            {% for rol in entity.roles %}

                                <tr>
                                    {% set num = num+1 %}
                                    <td>{{num}}.     
                                        {{ rol.rol.nombre }}<br>
                                    </td>
                                    <td>

                                        {{rol.descripcion}}

                                    </td>
                                    <td>{{(rol.horas/rol.semanas)|number_format(1, '.', ',')}}
                                        {% set totalhoras = totalhoras + rol.horas%}
                                    </td>
                                    <td>{{rol.semanas|number_format(1, '.', ',')}}
                                    </td>
                                    <td>{{ rol.horas}}</td>
                                    <td>
                                        {%if entity.estado == 'Sin Cerrar'%}
                                            <a href="{{ path('rolplang_delete', { 'id': rol.id }) }}"  class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a>
                                            {%endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>                   
                                <td></td>
                                <td></td>
                                <td style="text-align: right"><b>Total: </b></td>
                                <td>{{ totalhoras}}</td>
                                <td></td>
                            </tr>
                            {%if entity.estado == 'Sin Cerrar'%}
                                <tr>
                                    <td colspan="6">
                                        <a href="{{ path('actividadrol_select', { 'id': entity.id }) }}" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-plus"></i></span></i>Agregar Rol</a>  
                                                {%if totalhoras > (entity.dias*8)  or totalhoras < (entity.dias*8) %}
                                            <div class="alert alert-danger fade in">
                                                <i class="fa-fw fa fa-warning"></i>
                                                <strong>ATENCIÓN</strong> Para cerrar su plan el número de horas a registrar es de  {{entity.dias*8}}.
                                            {%else%}
                                                <a data-toggle="modal" data-target="#ModalCerrar" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Cerrar Registro de Roles</a>
                                                    {%endif%}
                                    </td>
                                </tr>
                            {%endif%}
                        </tbody>
                        </table>
                        <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
                            <thead>
                                <tr>
                                    <th colspan="6"><h4>2. Productividad<h4></th>
                                                </tr>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Tipo</th>
                                                    <th>Descripción</th>
                                                    <th>Vinculado a:</th>
                                                    <th>Registrado</th>
                                                    <th>Borrar</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for key, producto in entity.productos %}
                                                        <tr>
                                                            <td>{{key+1}}</td>
                                                            <td>
                                                                {{producto.tipo}}
                                                            </td>
                                                            <td>
                                                                {{producto.descripcion}}
                                                            </td>
                                                            <td>
                                                                {%if producto.proyecto%}   
                                                                    Proyecto: {{producto.proyecto.nombre}} ({{producto.proyecto.linea}})
                                                                {%else%}
                                                                    Responsabilidad Sustantiva: {{producto.articulacion}}
                                                                {%endif%}
                                                            </td>
                                                            <td>
                                                                {{producto.fechaRegistro|date('Y-m-d H:i')}}
                                                            </td>
                                                            <td>
                                                            <a data-toggle="modal" href="{{ path('productividad_show', { 'id': producto.id }) }}"  data-target="#prodModal" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a>
                                                            </td>
                                                        </tr>

                                                    {%endfor%}

                                                    <tr>
                                                        <td colspan="3">
                                                            <h5>Registrar Proyecto:</h5>

                                                            <a data-toggle="modal" href="{{ path('productividad_projectnew') }}" data-target="#prodModal" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-plus"></i></span>Nuevo Proyecto de Investigación</a>
                                                        </td>
                                                        <td colspan="3">
                                                            <h5>Registrar Productividad:</h5>
                                                            <a data-toggle="modal" href="{{ path('productividad_new', { 'tipo': 1  }) }}" data-target="#prodModal" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-plus"></i></span>Vinculada a proyecto de investigación</a>
                                                            <a data-toggle="modal" href="{{ path('productividad_new', { 'tipo': 2  }) }}" data-target="#prodModal" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-plus"></i></span>No vinculada a proyecto de investigación</a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>

                                                <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
                                                    <tbody>
                                                        <tr>
                                                            <td>Estado: 
                                                                {%if entity.estado == 'Sin Cerrar'%}
                                                                    <font style="color: red">Sin Cerrar</font>  
                                                                    <h1>Cierre su registro para que los avaladores puedan revisarlo.</h1>
                                                                {%else%}    
                                                                    <font style="color: green">{{entity.estado}}</font> 
                                                                {%endif%} 
                                                            </td>
                                                            <td>Fecha Registro: {{ entity.fechacierre? entity.fechacierre|date('Y-m-d H:i') : 'Sin Cerrar' }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>  

                                                <br>
                                                <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
                                                    <tr>
                                                        <th>Avalador</th>
                                                        <th>Perfil</th>
                                                        <th>Fecha Aprobado</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                    {% for aval in entity.avales %}
                                                        <tr>
                                                            <td>{{aval.user.nombres}} {{aval.user.apellidos}}</td>
                                                            <td>{{aval.perfil}}</td>
                                                            <td>{{aval.fechaAval? aval.fechaAval|date('Y-m-d H:i') : ''}}</td>
                                                            <td>
                                                                {%if aval.avalado == 1%}
                                                                    <font color="#356635">Aprobado</font>
                                                                {%elseif aval.avalado == 2%}
                                                                    <font color="red">No aprobado</font>
                                                                {%else%}
                                                                    <font color="red">Sin revisar</font>
                                                                {%endif%}

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td  colspan="5"><b>Observaciones:</b><br>
                                                                {% set texto = aval.observaciones|split('|') %} 
                                                                {% for obs in texto%}
                                                                    {{obs}}<br>
                                                                {%endfor%}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}  
                                                </table>

                                                {%if entity.estado != 'Sin Cerrar' %}
                                                    <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.docente.id }) }}')" class="btn btn-primary btn-xs">Ver Plan de Gestión para impresión... <i class="fa fa-sign-in"></i></a>   
                                                    {%else%}
                                                    Sin Cerrar
                                                {%endif%}

                                                <div class="modal fade" data-refresh="true" id="prodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                        </div></div></div>

                                                <div class="modal fade" data-refresh="true" id="ModalCerrar" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                                                                <h4 class="modal-title">Cerrar Registro de Roles</h4>
                                                            </div>			<!-- /modal-header -->
                                                            <div class="modal-body">
                                                                IMPORTANTE: Al cerrar su registro de roles ya no podra modificarlo, si esta seguro cierrelo y solicite los avales correspondientes para poder relizar su autoevaluación.
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form  action="{{ path('plangestion_cerrar', { 'id': entity.id }) }}" method="get">     
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                        Cancelar
                                                                    </button>
                                                                    <td><button type="hidden" class="btn btn-primary">Cerrar Registro</button></td>    
                                                                </form>
                                                            </div>

                                                        </div></div>


                                                    <script>
                                                        function popUp(URL) {

                                                            if (typeof (popupWin) != "object" || popupWin.closed) {
                                                                popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
                                                            } else {
                                                                popupWin.location.href = URL;
                                                            }

                                                            popupWin.focus();
                                                        }

                                                    </script>
                                                {% endblock %}
