{% block body -%}
<body>
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
<table>
    <tr>
    <td align="center" colspan="3"><img src="/img/logo-med-unad.png" alt="MED"></td>
    </tr>
    <tr>
        <td align="center" colspan="3">
        <h3>Plan de
        {%if entity.id.vinculacion == 'De Carrera'%}
            Gestión de
            {%else%}
            Activiades de
            {%endif%}
 {{ entity.id.user.nombres}} {{ entity.id.user.apellidos}} : {{ entity.id.user.id}}  </h3>   
        </td>
    </tr>
               <tr>
                <td>Periodo: {{ entity.id.periodo}}</td>
                <td>Fecha creación: {{ entity.fechacreacion? entity.fechacreacion|date('Y-m-d H:i:s') :'' }}</td>
                <td>Fecha cierre: {{ entity.fechacierre? entity.fechacierre|date('Y-m-d H:i:s') : '' }}</td>
            </tr> 
</table>
  <table>
        <thead>
            <tr>
                <th>Roles</th>
                <th>Horas</th>
            </tr>
        </thead>
        <tbody>
        {% set num = 0 %} {% set totalhoras = 0 %}
       
        {% for rol in entity.roles %}   
            <tr>
                {% set num = num+1 %}
                <td>{{num}}.     
                {{ rol.rol.nombre }}
                {%if rol.rol.textoampliacion %}
                <font color="#a57225">{{rol.descripcion}}</font>
                {%endif%}
                </td>
                <td>{{rol.horas}}
                    {% set totalhoras = totalhoras + rol.horas%}
                </td>
               </tr>
        {% endfor %}
               <tr>
                   <td>Total Horas:</td>
                    <td>{{totalhoras}}</td>
               </tr>
        </tbody>
    </table>
  
{%if entity.id.vinculacion == 'De Carrera'%}
<table>
  <tr>
    <th>Avalador</th>
    <th>Perfil</th>
    <th>Fecha de Aval</th>
    <th>Estado</th>
  </tr>
  {% for aval in entity.avales %}
  <tr>
    <td>{{aval.user.nombres}} {{aval.user.apellidos}}</td>
    <td>{{aval.perfil}}</td>
    <td>{{aval.fechaAval? aval.fechaAval|date('Y-m-d H:i') : ''}}</td>
    <td>
{%if aval.avalado == 1%}
Aprobado
{%elseif aval.avalado == 2%}
<font color="#F87217">No aprobado</font>
{%else%}
Sin revisar
{%endif%}

    </td>
  </tr>
    <tr>
    <td  colspan="5"><b>Observaciones:</b><br>
   {% set texto = aval.observaciones|split('|') %} 
   {% for obs in texto%}
   {{obs}}<br>
   {%endfor%}
   </td>
  </tr>
  {% endfor %}  
</table>
{%endif%}
    </body>
{% endblock %}
