{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Plangestion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Fecha_creacion</th>
                <td>{{ entity.fechacreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha_cierre</th>
                <td>{{ entity.fechacierre|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha_autoevaluacion</th>
                <td>{{ entity.fechaautoevaluacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
            <tr>
                <th>Autoevaluacion</th>
                <td>{{ entity.autoevaluacion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('plangestion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('plangestion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
