{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actividades de {{ entity.id.user.nombres}} {{ entity.id.user.apellidos}} : {{ entity.id.user.id}} </h1>

     <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            <tr>
                <td>Fecha creación: {{ entity.fechacreacion? entity.fechacreacion|date('Y-m-d H:i:s') :'' }}</td>
                <td>Fecha cierre: {{ entity.fechacierre? entity.fechacierre|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <td colspan="2">Observaciones: {{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>  
    
  <table class="table table-bordered hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Actividad</th>
                <th></th>
                <th>Adjunto</th>
                <th>Auto</th>
            </tr>
        </thead>
        <tbody>
        {% set temp = 'temp' %} {% set num = 0 %} {% set totalhoras = 0 %}
        {% set termino = 1 %}
        {% for actividad in entity.actividades %}
           <tr>
                    {%if temp != actividad.actividad.rol.nombre %} 
                <td>
                    <b>ROL:
                    {{actividad.actividad.rol.nombre}}
                    {% set temp = actividad.actividad.rol.nombre %}        
                    </b>
                    </td>
                    <td></td>
                    {%endif%}
               </tr>     
            <tr>
                {% set num = num+1 %}
                <td>{{num}}.     
                {{ actividad.actividad.descripcion }}
                {%if actividad.actividad.textoampliacion %}
                <font color="#a57225">{{actividad.descripcion}}</font>
                {%endif%}
                {%if actividad.observaciones %}
                <br><font color="#058dc7">Descripción del avance: {{actividad.observaciones}}</font><br>

                {%endif%}
                </td>
                
                                <td>
                  {%if actividad.plang.autoevaluacion %}
                   
                {%elseif actividad.autoevaluacion is null%}
                    {% set termino = 0 %}
                <a data-toggle="modal" href="{{ path('actividadplang_edit', { 'id': actividad.id }) }}" data-target="#myModal" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                  {%else%}
                      <a data-toggle="modal" href="{{ path('actividadplang_borrar', { 'id': actividad.id }) }}" data-target="#myModal" class="btn btn-default btn-xs txt-color-red"><i class="fa fa-trash-o"></i></a>  
                      {%endif%}   
                </td>

                    <td>
                {%if actividad.path %}
                <a href="../../{{actividad.webpath}}" target="_blank" class="btn btn-default btn-xs txt-color-green"><i class="fa fa-download"></i></a>
                {%endif%}      
                    </td>
                <td>
                    
                 {{actividad.letras}}   
                    
                </td>
               </tr>
        {% endfor %}  
        </tbody>
    </table>
    
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
  <tr>
    <th>Avalador</th>
    <th>Perfil</th>
    <th>Fecha de Aval</th>
    <th>Estado</th>
  </tr>
  {% for aval in entity.avales %}
  <tr>
    <td>{{aval.user.nombres}} {{aval.user.apellidos}}</td>
    <td>{{aval.perfil}}</td>
    <td>{{aval.fechaAval? aval.fechaAval|date('Y-m-d H:i') : ''}}</td>
    <td>
{%if aval.avalado == 1%}
Aprobado
{%elseif aval.avalado == 2%}
<font color="#F87217">No aprobado</font>
{%else%}
Sin revisar
{%endif%}

    </td>
  </tr>
    <tr>
    <td  colspan="5"><b>Observaciones: </b>{{aval.observaciones}}</td>
  </tr>
  {% endfor %}  
</table>
    <h1>Autoevaluación</h1>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            <tr>
                <td colspan="2">
                {%if termino == 1 and entity.autoevaluacion is null %}
                <a data-toggle="modal" href="{{ path('plangestion_edit', { 'id': entity.id.id }) }}" data-target="#myModal" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Cerrar Autoevaluación</a>
                {%elseif entity.autoevaluacion is  null %}
                <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Importante!</strong> No a finalizado su autoevaluación. Registre su auoevaluación por cada actividad y luego oprima el boton "Cerrar Autoevaluación".
                </div>
                {%endif%}               
                </td>    
            </tr>
            <tr>
                <td>Fecha Autoevaluación: {{ entity.fechaautoevaluacion? entity.fechaautoevaluacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>Autoevaluación: {{ entity.autoevaluacion }}</td>
            </tr>
            <tr>
                <td colspan="2">Observaciones:<br>
          {{ entity.observaciones }}
                </td>
            </tr>
        </tbody>
    </table>   
    
<div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
</div></div></div>    
    
{% endblock %}
