{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Agrear Plan de Mejoramiento Docentes</h1>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>

                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Modalidad</th>
                <th>Vinculacion</th>
                <th>Cargo</th>
                <th>Resolucion</th>
                <th>Perfil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.user.nombres }}</td>
                <td>{{ entity.user.apellidos }}</td>
                <td>{{ entity.modalidad }}</td>
                <td>{{ entity.vinculacion }}</td>
                <td>{{ entity.cargo }}</td>
                <td>{{ entity.resolucion }}</td>
                <td>{{ entity.perfil }}</td>
                <td>
                <a href="{{ path('planmejoramiento_agregar', { 'id': entity.id }) }}">Agregar</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
