{% block body -%}
       
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Agrear Plan de Mejoramiento Docentes</h4>
            </div>			<!-- /modal-header -->
            <div class="modal-body">

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>

                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Modalidad</th>
                <th>Vinculacion</th>
                <th>Cargo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.user.nombres }}</td>
                <td>{{ entity.user.apellidos }}</td>
                <td>{{ entity.modalidad }}</td>
                <td>{{ entity.vinculacion }}</td>
                <td>{{ entity.cargo }}</td>
                <td>
                <a href="{{ path('planmejoramiento_agregar', { 'id': entity.id }) }}">Agregar</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
      </div>			<!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>			<!-- /modal-footer -->
        
        <!-- /modal-dialog -->
{% endblock %}
