{% extends '::base.html.twig' %}

{% block body -%}
<a href="{{ path('docente_show', { 'id': entity.docente.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-backward"> Regresar</i></a>
    <h1>Plan de Mejoramiento de {{ entity.docente.user.nombres }} {{ entity.docente.user.apellidos }}</h1>    

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">

  <tr>
      <td>ID: {{ entity.id }}</td>
    <td>Fecha de Creación: {{ entity.fechacreacion|date('Y-m-d H:i') }}</td>
    <td>Fecha de Cierre: {{ entity.fechacierre? entity.fechacierre|date('Y-m-d H:i') : '' }}</td>
  </tr>
  <tr>
    <td>Vinculación: {{ entity.docente.vinculacion }} </td>
    <td>Centro: {{ entity.docente.centro.nombre }}</td>
    <td>Cedula: {{ entity.docente.user.id }}</td>
  </tr>
  <tr>
    <td colspan='3'>Observaciones del Decano: {{ entity.observaciones }}</td>
  </tr>
    <tr>
  </tr>
  
</table>
    
  <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
  <tr>
    <th>No</th> 
    <th>Oportunidad de mejora</th>
    <th>Acción propuesta</th>

    <th>Observaciones del docente</th>
    <td>Archivo</td>
    <th>Fecha</th>
    <th>¿Se cumplió?</th>
  </tr>
  {% set num = 0 %}
  {%for accion in entity.acciones%}
  {% set num = num+1 %}
  <tr>
    <td>{{num}}</td>
    <td>{{accion.oportunidad}}</td>
    <td>{{accion.accion}}</td>
    <td>
      {%if accion.observaciones%}  
{{accion.observaciones}}
{%else%}
      <a data-toggle="modal" href="{{ path('accionespm_editdoc', { 'id': accion.id }) }}" data-target="#myModal" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>        
{%endif%}
    </td>
    <td>
    {%if accion.path %}    
   <a href="javascript:popUp('../../archivos/planm/{{accion.path}}')" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
   {%endif%}
    </td>     
    <td>{{ accion.fechaCierre? accion.fechaCierre|date('Y-m-d H:i') : ' ' }}</td>
    <td
   {%if accion.estado is null %} 
     {%elseif accion.estado == 1 %}
        SI
        {%else%}
        NO
        {%endif%}
    </td>
  </tr>
  {%endfor%}
</table>

<div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">    
<div class="modal-dialog modal-lg">
<div class="modal-content">
</div></div></div>
    
    
<script LANGUAGE="JavaScript">

function popUp(URL) {

    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'directories=no,titlebar=yes,toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=900,height=600,left = 100,top = 100');
    } 
    else{ 
        popupWin.location.href = URL; 
    }

    popupWin.focus(); 
 }
</script>

{% endblock %}
