{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Planes de Mejoramiento de la Escuela</h1>
    
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha creacion</th>
                <th>Fecha cierre</th>
                <th>Observaciones</th>
                <th>Estado</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('planmejoramiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.docente.user.id }}</td>
               <td>{{ entity.docente.user.Nombres }}</td> 
                <td>{{ entity.docente.user.Apellidos }}</td>
                <td>{% if entity.fechacreacion %}{{ entity.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechacierre %}{{ entity.fechacierre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.observaciones }}</td>
                <td>{{ entity.calificacion }}</td>
                <td>
               <a href="{{ path('planmejoramiento_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
    <a href="javascript:popUp('{{path('planmejoramiento_add')}}')">Agregar Plan de Mejoramiento a Docente</a>
        </li>
    </ul>

<div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
</div></div></div>

<script>
  
function popUp(URL) {

    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'directories=no,titlebar=yes,toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=1100,height=510,left = 320,top = 150');
    } 
    else{ 
        popupWin.location.href = URL; 
    }

    popupWin.focus(); 
 }
 
</script>
    {% endblock %}
