{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Planes de Mejoramiento</h1>
    
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha creacion</th>
                <th>Fecha cierre</th>
                <th>Observaciones</th>
                <th>Calificacion</th>
                <th>ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('planmejoramiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.docente.user.id }}</td>
               <td>{{ entity.docente.user.Nombres }}</td> 
                <td>{{ entity.docente.user.Apellidos }}</td>
                <td>{% if entity.fechacreacion %}{{ entity.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechacierre %}{{ entity.fechacierre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.observaciones }}</td>
                <td>{{ entity.calificacion }}</td>
                <td>
               <a href="{{ path('planmejoramiento_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                </td>
                <td>
               <a href="{{ path('planmejoramiento_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-gear"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
    <a data-toggle="modal" href="{{path('planmejoramiento_add')}}" data-target="#myModal"><i class="fa fa-plus-square"></i> Agregar Plan de Mejoramiento</a>
        </li>
    </ul>
    
    
<div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
</div></div></div>
    
    
    {% endblock %}
