{% extends '::base.html.twig' %}

{% block body -%}

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0"  data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="true"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
            -->
            <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Escuelas UNAD</h2>
            </header>    
<!-- widget div-->
<div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">
                <table class="table table-bordered">
                        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Sigla</th>
                <th>Decano</th>
                <th>Docentes</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                <a data-toggle="modal"  href="{{ path('escuela_show', { 'id': entity.id }) }}" data-target="#myModal">{{ entity.id }}</a>
                </td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.sigla }}</td>
                <td>
               {{ entity.decano.nombres }} {{ entity.decano.apellidos }}
                </td>
                 <td>
                <a  href="{{ path('docente_escuela', { 'id': entity.id, 'periodo': app.session.get('periodoe') }) }}">Ver</a>      
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                                                                                
            </div>
              <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->                                                           
        </article>
<div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
</div></div></div>
    {% endblock %}