{% extends '::base.html.twig' %}

{% block body -%}
    {% if escuela %}
        <h1>Planes de Gestión de Docentes de Carrera {{ escuela.sigla }} del periodo {{ periodo }}.</h1>
    {% endif %}
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Centro</th>
            <th>Dias</th>
            <th>Horas</th>
            <th colspan="2">Registro del Plan</th>
            <th>Avales</th>
            <th>Print</th>
            <th>Original Firmado</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <th>
                    {{ entity.user.id }}
                </th>
                <td>{{ entity.user.nombres }} {{ entity.user.apellidos }}</td>
                <td>{{ entity.centro.nombre }}</td>
                <td>{{ entity.plangestion.dias }}</td>
                <td>{{ entity.plangestion.dias*8 }}</td>
                <td>
                    {% if entity.plangestion.estado != 'Sin Cerrar' %}
                        Cerrado
                    {% else %}
                        No Cerrado
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('aval_plangestion', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">Ver <i
                                class="fa fa-sign-in"></i></a>
                </td>
                <td>
                    {% for aval in entity.plangestion.avales %}
                        {{ aval.perfil }}
                        {% if aval.estado=='Aprobado' %}
                            <i class="fa fa-check" style="color: #739e73"></i>
                        {% else %}
                            <i class="fa fa-times" style="color: #a90329"></i>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.id }) }}')"
                       class="btn btn-primary btn-xs"> <i class="fa fa-print"></i></a>
                </td>
                <td>
                    {% if entity.plangestion.pdf %}
                        <a href="../../uploads/{{ entity.periodo }}{{ entity.plangestion.pdf.webpath }}"
                           target="_blank"><i class="fa fa-file-o"></i> Ver...</a>
                    {% else %}
                        <a href="{{ path('pdfplang_new', { 'id': entity.plangestion.docente.id }) }}"
                           class="btn btn-primary btn-xs">Cargar <i class="fa fa-upload"></i></a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li><p><b>Plan G. PDF. </b>Es el plan de gestión aprobado y firmado, debe ser cargado por el Decano de la
                Escuela.</p></li>
        <li><p><b>Roles. </b>Son el registro de roles que realiza el docente coherentes al plan de gestión aprobado y
                con los cuales realizara su auto evaluación al final del periodo acádemico.</p></li>
        <li><p><b>Aval. </b>Los roles registrados para auto evaluación requieren el aval del Decano y del Director de
                Zona.</p></li>
    </ul>
    <br>
    <script>
        function popUp(URL) {

            if (typeof (popupWin) != "object" || popupWin.closed) {
                popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
            } else {
                popupWin.location.href = URL;
            }

            popupWin.focus();
        }

    </script>
{% endblock %}
