<table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
           <td colspan="4"><h4>Información del Curso: {{ entity.id }} - {{ entity.nombre }}</h4></td>
            <tr>
                <th>Director</th>
                <td>{{ entity.director? entity.director.user.nombres~' '~entity.director.user.apellidos : 'No' }}</td>  
            </tr>
            <tr>
                <th>Programa</th>
                <td>{{ entity.programa? entity.programa.nombre : 'Sin' }} - {{ entity.escuela }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Nivel:</b> {{ entity.nivel }} <b>Tipologia:</b> {{ entity.tipologia }} <b>Creditos:</b> {{ entity.creditos }}</td>
            </tr>
        </tbody>
    </table>
    <b>Tutores del curso:</b>
        <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
          <tr>
              <th>ID</th>
                <th>Nombre</th>
                <th>Centro</th>
                <th>Borrar</th>
            </tr>
        {%for tutor in entity.tutores %}
            <tr>
                <td>{{tutor.docente.id}}</td>
                <td>{{tutor.docente.user.id}} - {{tutor.docente.user.nombres}} {{tutor.docente.user.apellidos}}</td>
                <td>{{tutor.docente.centro.nombre}}</td>
                <td><a href="{{ path('tutor_delete', {'id': tutor.id }) }}">Borrar Tutor</a></td>
            </tr>
        {%endfor%}
        </tbody>
        </table>