{% extends '::base.html.twig' %}

{% block body -%}
        {{ include(
            'AdminUnadBundle:Curso:detalle.html.twig',
            {'entity': entity}
        ) }}

<div class="editar" id="editar" style="visibility: hidden">
 <h4>Agregar Tutor al Curso</h4><br>
<form action="{{ path('oferta_tutor', { 'id': entity.id }) }}" method="get" {{ form_enctype(cedula_form) }}>
    {{ form_label(cedula_form.cedula,  'Cédula del Tutor') }}
    {{ form_widget(cedula_form.cedula) }}    
    {{ form_errors(cedula_form.cedula) }}
    <input type="submit" label="Agregar" />
</form>
</div>
<div id="boton-e" style="visibility: visible">
<a data-toggle="modal" data-target="#ModalEdit" class="btn btn-success btn-xs">Editar Red</a>
</div>


  
<div class="modal fade" data-refresh="true" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog">
<div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title">Modificar Red de Tutores</h4>
                </div>			<!-- /modal-header -->
                <div class="modal-body">
                <ul>
                    <li>
                    IMPORTANTE: Si usted habilita la edición de la red de este curso podrá agregar o eliminar tutores, solo realícelo en caso que la información registrada no sea verídica, toda modificación estará sujeta a revisión posterior. Gracias
                    </li> 
   
                </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onClick="editar();" data-dismiss="modal">Editar Red</button> 
                </div>
</div></div>
 </div>
<script>
  
function editar() {
    var els = document.getElementsByClassName('editar');
  for(var i=0; i<els.length; i++) {
   els[i].style.visibility = "visible";
   };
   
 document.getElementById('boton-e').style.visibility = "hidden";
 }
 </script>
{% endblock %}




