{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Curso</h1>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
           <tr>
                <th>Programa</th>
                <td>{{ entity.programa? entity.programa.nombre : 'Sin' }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ entity.nivel }}</td>
            </tr>
            <tr>
                <th>Tipologia</th>
                <td>{{ entity.tipologia }}</td>
            </tr>
            <tr>
                <th>Creditos</th>
                <td>{{ entity.creditos }}</td>
            </tr>
            <tr>
                <th>Escuela</th>
                <td>{{ entity.escuela }}</td>
            </tr>
             <tr>
                <th>Director</th>
                <td>{{ entity.director? entity.director.user.nombres~' '~entity.director.user.apellidos : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    Tutores:
        <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
          <tr>
              <th>ID</th>
                <th>Nombre</th>
                <td>Centro</td>
            </tr>
        {%for docente in entity.docentes %}
            <tr>
                <td>{{docente.id}}</td>
                <td>{{docente.user.nombres}} {{docente.user.nombres}}</td>
                <td>{{docente.centro.nombre}}</td>
            </tr>
        {%endfor%}   
        </tbody>
        </table>

        <ul class="record_actions">
    {% if is_granted('ROLE_ADMIN') %} <li>{{ form(delete_form) }}</li> {%endif%}
</ul>
{% endblock %}
