{% block body -%}
               <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            <h4 class="modal-title">Agregar Rol al Plan de Gestión</h4>
            </div>			<!-- /modal-header -->
            <div class="modal-body">          
   <form  action="{{ path('rolplang_create', { 'id' : id } ) }}" method="post" {{ form_enctype(form) }}>
   <table class="table table-bordered table-striped hidden-mobile">
   <input type="hidden" name="_method" value="POST" />
     {{ form_errors(form) }}
  <tr>
    <td>Rol</td>
    <td>{{ entity.rol.nombre }}</td>
  </tr>
     <tr>
    <td></td>
    <td><div hidden="true">{{ form_widget(form.rol) }}</div> {{ entity.rol.descripcion }}</td>
  </tr>
   <tr>
    <td>Horas por semana</td>
    <td>{{ form_widget(form.horas) }}<i>Horas por semana aproximadas, puede usar decimales. </i>
            <br>Horas diponibles en su plan: {{40-libre}} de máximo 40</td>
   </tr>
   {%if entity.rol.textoampliacion%}
  <tr>
    <td>Descripción</td>
    <td>{{ form_widget(form.descripcion) }}</td>
  </tr>
  {%endif%}
  <tr>
    <td></td>
    <td><button type="hidden" class="btn btn-sm btn-primary">Agregar</button></td>
  </tr>
  {{ form_widget(form._token) }}
  </table>
     
   </form></div>
{% endblock %}
