
{% extends '::base.html.twig' %}
{% block body -%}
<h4><a href="{{ path('docente_show', {'id': app.session.get('docenteid') }) }}"> << Regresar</a>
    <h1>Evaluación de la Red de Tutores</h1>
    
    <p>
  Instrumento dirigido a garantizar la participación de los Tutores en la evaluación y retroalimentación del curso diseñado y/o dirigido por el docente en los aspectos referidos a calidad y actualización de los contenidos, la planificación, metodología, desarrollo y estrategias de evaluación de los aprendizajes.      
    </p>
    <h1>Cursos a evaluar</h1>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Periodo</th>
                <th>Nombre</th>
                <th>Director</th>
                <th>Evaluar</th>
            </tr>
        </thead>
        <tbody>
        {% for tutoria in tutorias %}
            <tr>
                <td>{{tutoria.oferta.curso.id}}</td>
                <td>{{tutoria.oferta.periodo}}</td>
                <td>{{tutoria.oferta.curso.nombre}}</td>
                <td>{{tutoria.oferta.director.user.nombres}} {{tutoria.oferta.director.user.apellidos}}</td>
                <td>
                {%if app.session.get('docenteid') == tutoria.oferta.director.id %} 
                   No aplica *
                {%else%}
                {%if tutoria.coevaldirector %}
                    {%if tutoria.coevaldirector.f0 %}
                    Evaluado ({{tutoria.coevaldirector.f0}})
                    {%else%}
                     <a href="{{ path('redtutores_edit', { 'id': tutoria.id }) }}">Evaluar...</a> 
                    {%endif%}
                {%else%}
                <a href="{{ path('redtutores_edit', { 'id': tutoria.id }) }}">Evaluar...</a>
                 {%endif%}
                {%endif%}
                 </td>
        {% endfor %}
        </tbody>
    </table>
    
    <p>* Si el usted es el director de curso este instrumento no aplica</p>
{% endblock %}