{% extends '::base.html.twig' %}

{% block body -%}
    <h1>redTutores</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>F0</th>
                <td>{{ entity.f0 }}</td>
            </tr>
            <tr>
                <th>F1</th>
                <td>{{ entity.f1 }}</td>
            </tr>
            <tr>
                <th>F2</th>
                <td>{{ entity.f2 }}</td>
            </tr>
            <tr>
                <th>F3</th>
                <td>{{ entity.f3 }}</td>
            </tr>
            <tr>
                <th>F4</th>
                <td>{{ entity.f4 }}</td>
            </tr>
            <tr>
                <th>F5</th>
                <td>{{ entity.f5 }}</td>
            </tr>
            <tr>
                <th>F6</th>
                <td>{{ entity.f6 }}</td>
            </tr>
            <tr>
                <th>F7</th>
                <td>{{ entity.f7 }}</td>
            </tr>
            <tr>
                <th>F8</th>
                <td>{{ entity.f8 }}</td>
            </tr>
            <tr>
                <th>F9</th>
                <td>{{ entity.f9 }}</td>
            </tr>
            <tr>
                <th>F10</th>
                <td>{{ entity.f10 }}</td>
            </tr>
            <tr>
                <th>F11</th>
                <td>{{ entity.f11 }}</td>
            </tr>
            <tr>
                <th>F12</th>
                <td>{{ entity.f12 }}</td>
            </tr>
            <tr>
                <th>F13</th>
                <td>{{ entity.f13 }}</td>
            </tr>
            <tr>
                <th>F14</th>
                <td>{{ entity.f14 }}</td>
            </tr>
            <tr>
                <th>F15</th>
                <td>{{ entity.f15 }}</td>
            </tr>
            <tr>
                <th>F16</th>
                <td>{{ entity.f16 }}</td>
            </tr>
            <tr>
                <th>F17</th>
                <td>{{ entity.f17 }}</td>
            </tr>
            <tr>
                <th>F18</th>
                <td>{{ entity.f18 }}</td>
            </tr>
            <tr>
                <th>F19</th>
                <td>{{ entity.f19 }}</td>
            </tr>
            <tr>
                <th>F20</th>
                <td>{{ entity.f20 }}</td>
            </tr>
            <tr>
                <th>F21</th>
                <td>{{ entity.f21 }}</td>
            </tr>
            <tr>
                <th>F22</th>
                <td>{{ entity.f22 }}</td>
            </tr>
            <tr>
                <th>F23</th>
                <td>{{ entity.f23 }}</td>
            </tr>
            <tr>
                <th>F24</th>
                <td>{{ entity.f24 }}</td>
            </tr>
            <tr>
                <th>F25</th>
                <td>{{ entity.f25 }}</td>
            </tr>
            <tr>
                <th>F26</th>
                <td>{{ entity.f26 }}</td>
            </tr>
            <tr>
                <th>F27</th>
                <td>{{ entity.f27 }}</td>
            </tr>
            <tr>
                <th>F28</th>
                <td>{{ entity.f28 }}</td>
            </tr>
            <tr>
                <th>F29</th>
                <td>{{ entity.f29 }}</td>
            </tr>
            <tr>
                <th>F30</th>
                <td>{{ entity.f30 }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('redtutores') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('redtutores_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
