{% extends '::base.html.twig' %}

{% block body -%}

<h4 class="modal-title">Lideres de Programas o Cadenas de Formación</h4>

  <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
            <tr>
                <td>ID</td>
                <td>Programa</td>
                <td>Lider</td>
                <td>Observaciones</td>
                <td>Evaluación</td>
            </tr>
         {% for programa in entity.programas %}
                 <tr>
                 <td><a href="{{ path('programa_show', { 'id': programa.id }) }}">{{programa.id}}</a></td>   
                <td>{{programa.nombre}}</td>
                <td>{{programa.lider? programa.lider.user.nombres~' '~programa.lider.user.Apellidos : 'sin'}}</td>
                <td>{{programa.coeval? programa.coeval.observaciones : '' }}</td>
                <td>
                {%if programa.coeval %}
                    {%if programa.coeval.f0 is null %}
                    <a href="{{ path('coevallider_edit', { 'id': programa.coeval.id }) }}">Evaluar...</a>
                    {%else%}
                    {{programa.coeval.f0}}
                    {%endif%}
                    {%endif%}
                 </td>
            </tr> 
{%endfor%}
        </tbody></table>
 <div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">    
<div class="modal-dialog modal-lg">
<div class="modal-content">  
</div></div></div>
{% endblock %}
