{% block body -%}
<body>
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
<h3>Coevaluaciones de {{ entity.user.nombres }} {{ entity.user.apellidos }} del periodo {{entity.periodo}}</h3>  
 
 

{%set final=0%} {%set aux=0%}
{%if entity.director|length > 0 %}
<h2>Red de Tutores</h2>Evaluación recibida de los tutores del curso
 <table>
          <tr>
                <th>Curso</th>
                <th>Tutor</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody> 
{%for oferta in entity.director%}              
            {%for tutor in oferta.tutores%}
            
            <tr>
                <td>{{oferta.curso.nombre}} - {{oferta.periodo}} </td> 
                            <td>{{tutor.docente.user.nombres}} {{tutor.docente.user.apellidos}}</td>
                            <td>{{tutor.coevaldirector? tutor.coevaldirector.observaciones : ' ' }}</td>
                            <td>{{tutor.coevaldirector? '*.*' : 'No evaluo'}}</td>
            </tr>
            {%if tutor.coevaldirector%}{%set final=final+tutor.coevaldirector.f0%}{%set aux=aux+1%}{%endif%}  
            {%endfor%}
{%endfor%}
            <tr>
                <td colspan="3" align="right"><b>Calificación Final del Instrumento:</b></td>
                <td>{%if final > 0%}{%set final = final/aux%} {{final|number_format(1, '.', ',')}}{%endif%}</td>
            </tr>
            </tbody>
</table>
  {%endif%}

   {%if entity.tutoria|length > 0 %}

<h2>Coevaluación del Director de Curso a Tutores</h2>
<table>
            <tr>
                <th>Curso</th>
                <th>Director</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>      
            {%for tutor in entity.tutoria%}
   
            <tr>
            <td>{{tutor.oferta.curso.nombre}} - {{tutor.oferta.periodo}}</td>
            <td>
            {%if tutor.oferta.director%}
            {{tutor.oferta.director.user.nombres}} {{tutor.oferta.director.user.apellidos}}
         {%endif%}
            </td>
             {%if tutor.coevaltutor%}
             <td>{{tutor.coevaltutor.observaciones}}</td>
             <td>{{tutor.coevaltutor.f0}}</td>
             {%endif%}
            </tr>
               
        {%endfor%}
        </tbody>
        </table>
{%endif%}            

  {%if entity.director|length > 0 %}

<h2>Coevaluación del Lider a Directores de Curso</h2>
        <table>
                <th>Curso</th>
                <th>Programa</th>
                <th>Lider</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>   
            {%for oferta in entity.director%}
            
            <tr>
            <td>{{oferta.curso.nombre}} - {{oferta.periodo}}</td>    
             <td>
                 {%if oferta.curso.programa%}
               {{oferta.curso.programa.nombre}}
                 {%endif%}
             </td>
             <td>
                 {%if oferta.curso.programa%}
               {{oferta.curso.programa.lider? oferta.curso.programa.lider.user.nombres ~ ' ' ~ oferta.curso.programa.lider.user.apellidos : 'Sin lider'}}
                 {%endif%}
             </td>
             <td>{{oferta.coeval? oferta.coeval.observaciones : ' '}}</td>
             <td>{{oferta.coeval? oferta.coeval.f0 : 'Sin Evaluación'}}</td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
{%endif%}
            
    {%if entity.lider|length > 0 %}
       <h2>Coevaluación del Decano a Lideres de Programa</h2> 
       <table>
            <tr>
                <th>Programa</th>
              
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>     
            {%for programa in entity.lider%}
            <tr>
            <td>{{programa.nombre}}</td>
            
             <td>{{programa.coeval? programa.coeval.observaciones : 'Sin Evaluación'}}</td>
             <td>{{programa.coeval? programa.coeval.f0 : 'Sin Evaluación'}}</td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
   {%endif%}            

{% endblock %}