{% block body -%}
<body>
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
    <h3>Coevaluaciones</h3>
 
    <table>
        <tr>
            <td>
               <b>1. Red de Tutores: </b>Evaluación recibida de los tutores del curso     
            </td>
        </tr>    
    </table>   
    
    

{%set final=0%} {%set aux=0%}
<table>
{%for curso in cursos%}    
        <thead>
           <tr>
           <td align="left" colspan="3">Curso: {{curso.id}} - {{curso.nombre}}</td>
            </tr>
            <tr>
                <th>Tutor</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
        </thead>
        {%if curso.evaldetutor|length > 0%}
            <tbody>    
            {%for tutor in curso.evaldetutor%}
            {%if tutor.f0%}{%set final=final+tutor.f0%}{%set aux=aux+1%}{%endif%}        
            <tr>
                            <td>{{tutor.tutor.user.nombres}} {{tutor.tutor.user.apellidos}}</td>
                            <td>{{tutor.observaciones}}</td>
                            <td>{{tutor.f0? tutor.f0 : 'Sin'}}</td>
            </tr>
            {%endfor%}

{%endif%}
{%endfor%}
            <tr>
                <td colspan="2" align="right"><b>Calificación Final:</b></td>
                <td>{%if final > 0%}{%set final = final/aux%} {{final|number_format(2, '.', ',')}}{%endif%}</td>
            </tr>
            </tbody>
</table>
 
    {%if entity.evaldedirector|length > 0 %}
    <table>
      <tr><td colspan="4">
       <b>2. Tutor: </b>Evaluación recibida del director de curso
        </td></tr>
        
            <tr>
                <th>Curso</th>
                <th>Director</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>      
            {%for evaluacion in entity.evaldedirector%}
   
            <tr>
            <td>{{evaluacion.curso.nombre}}</td>    
             <td>{{evaluacion.curso.director.user.nombres}} {{evaluacion.curso.director.user.apellidos}}</td>
             <td>{{evaluacion.observaciones}}</td>
             <td>{{evaluacion.f0}}</td>
            </tr>
        {%endfor%}

        </tbody>
        </table>
{%endif%}
    
   
    {%if entity.director|length > 0 %}
        <table>
            <tr><td colspan="4">
                <b>3. Director de curso: </b>Evaluación recibida del lider nacional de programa o cadena de formación. 
                </td></tr>
            <tr>
                <th>Curso</th>
                <th>Lider</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>   
            {%for curso in entity.director%}
  
             
            <tr>
            <td>{{curso.nombre}}</td>    
             <td>{{curso.programa.lider.user.nombres}} {{curso.programa.lider.user.apellidos}}</td>
             <td>{{curso.coeval? curso.coeval.observaciones : 'N/A'}}</td>
             <td>{{curso.coeval? curso.coeval.f0 : 'N/A'}}</td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
{%endif%}
   
    {%if entity.lider|length > 0 %}
        
       <table>
       <tr><td colspan="4">
                <b>4. Lider de Programa: </b>Evaluación recibida del Decano Nacional 
                </td></tr>
            <tr>
            <tr>
                <th>Programa</th>
              
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>     
            {%for programa in entity.lider%}
            <tr>
            <td>{{programa.nombre}}</td>
            
             <td>{{programa.coeval? programa.coeval.observaciones : 'N/A'}}</td>
             <td>{{programa.coeval? programa.coeval.f0 : 'N/A'}}</td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
   {%endif%}

{% endblock %}