{% block body -%}
<body>
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
<h2>Coevaluaciones de {{ entity.user.id }} {{ entity.user.nombres }} {{ entity.user.apellidos }} - {{entity.periodo}}</h2>  
 
   {%if entity.Coevaldepar|length > 0 %}

<h2>Terna de Pares</h2>
<table>
            <tr>
                <th>Ternado</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>      
            {%for evaluacion in entity.Coevaldepar%}
   
            <tr>
                <td>
                {{evaluacion.evaluador.docente.user.nombres}} {{evaluacion.evaluador.docente.user.apellidos}}
                   
                </td>
            <td>
               {{evaluacion.observaciones}} 
            </td>

             <td>
                  {%if evaluacion.evaluador.docente.user.id == entity.user.id %}
                 No Aplica
                 {%else%}
                     {{evaluacion.f0}}
                 {%endif%}
             </td>
            </tr>
               
        {%endfor%}
        </tbody>
        </table>
{%endif%}  
 

{%set final=0%} {%set aux=0%}
{%if entity.director|length > 0 %}
<h2>Red de Tutores</h2>
 <table>
          <tr>
                <th>Curso</th>
                <th>Tutor</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody> 
{%for oferta in entity.director%}              
            {%for tutor in oferta.tutores%}
            
            <tr>
                <td>{{oferta.curso.nombre}} - {{oferta.periodo}} </td> 
                            <td>{{tutor.docente.user.nombres}} {{tutor.docente.user.apellidos}}</td>
                            <td>{{tutor.coevaldirector? tutor.coevaldirector.observaciones : ' ' }}</td>
                            <td>
                                {%if tutor.docente.user.id == entity.user.id %}
                                No Aplica
                                {%else%}
                                {{tutor.coevaldirector? '*.*' : 'Sin Evaluar'}}
                                {%endif%}
                            </td>
            </tr>
            {%if tutor.coevaldirector%}{%set final=final+tutor.coevaldirector.f0%}{%set aux=aux+1%}{%endif%}  
            {%endfor%}
{%endfor%}
            <tr>
                <td colspan="3" align="right"><b>Calificación Final del Instrumento:</b></td>
                <td>{%if final > 0%}{%set final = final/aux%} {{final|number_format(1, '.', ',')}}{%endif%}</td>
            </tr>
            </tbody>
</table>
  {%endif%}
  
  
{% if is_granted('ROLE_ADMIN') or entity.vinculacion !='De Carrera' %}    
    
   {%if entity.tutoria|length > 0 %}

<h2>Director de Curso a Tutores</h2>
<table>
            <tr>
                <th>Curso</th>
                <th>Director</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>      
            {%for tutor in entity.tutoria%}
   
            <tr>
            <td>{{tutor.oferta.curso.nombre}} - {{tutor.oferta.periodo}}</td>
            <td>
            {%if tutor.oferta.director%}
            {{tutor.oferta.director.user.nombres}} {{tutor.oferta.director.user.apellidos}}
         {%endif%}
            </td>
                
                    {%if tutor.oferta.director.user.id == entity.user.id %}
                    <td></td>
                    <td>No Aplica</td> 
                    {%else%}
                        
                    {%if tutor.coevaltutor%}
                    <td>{{tutor.coevaltutor.observaciones}}</td>
                    <td>
                    {{tutor.coevaltutor.f0}}
                    </td>
                    {%endif%}
                    
                    {%endif%}
            
            </tr>
               
        {%endfor%}
        </tbody>
        </table>
{%endif%}            

  {%if entity.director|length > 0 %}

<h2>Líder a Directores de Curso</h2>
        <table>
                <th>Curso</th>
                <th>Programa</th>
                <th>Líder</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>   
            {%for oferta in entity.director%}
            
            <tr>
            <td>{{oferta.curso.nombre}} - {{oferta.periodo}}</td>    
             <td>
                 {%if oferta.curso.programa%}
               {{oferta.curso.programa.nombre}}
                 {%endif%}
             </td>
             <td>
                 {%if oferta.curso.programa%}
               {{oferta.curso.programa.lider? oferta.curso.programa.lider.user.nombres ~ ' ' ~ oferta.curso.programa.lider.user.apellidos : 'Sin lider'}}
                 {%endif%}
             </td>
             <td>{{oferta.coeval? oferta.coeval.observaciones : ' '}}</td>
             <td>
                {%if oferta.curso.programa.lider%}
                {%if oferta.curso.programa.lider.user.id == entity.user.id %}
                No Aplica
                {%else%}
                {{oferta.coeval? oferta.coeval.f0 : 'Sin Evaluación'}}
                {%endif%}
                {%endif%}
             </td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
{%endif%}
{%endif%}

{% endblock %}