{% extends '::base.html.twig' %}
{% block body -%}
<h3><a href="{{ path('docente_show', {'id': app.session.get('docenteid') }) }}"> << Regresar</a> | Evaluación de pares (Co Evaluación)</h3>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Docente</th>
                <th>Centro</th>
                <th>Evaluar</th>
            </tr>
        </thead>
        <tbody>
        {% for docente in pares %}
            <tr>
                <td>
                {{docente.user.id}}</td>
                <td>{{docente.user.nombres}} {{docente.user.apellidos}}</td>
                <td>{{docente.centro.nombre}}</td>
                <td>
                 </td>
        {% endfor %}
        </tbody>
    </table>


    <h3>Terna que lo evaluara:</h3>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Docente</th>
                <th>Centro</th>
                <th>Correo</th>
                <th>Evaluo?</th>
            </tr>
        </thead>
        <tbody>
         {%set final = 0%}  {%set aux = 0%} 
        {% for evaluacion in entity.coevaldepar %}
           {%if evaluacion.f0%}
            {%set final = final+evaluacion.f0%}
            {%set aux = aux+1%}
            {%endif%}
                <tr>
                <td>{{evaluacion.evaluador.user.id}}</td>
                <td>{{evaluacion.evaluador.user.nombres}} {{evaluacion.evaluador.user.apellidos}}</td>
                <td>{{evaluacion.evaluador.centro.nombre}}</td>
                <td>{{evaluacion.evaluador.user.email}}</td>
                <td>{{evaluacion.f0? 'Si' : 'No'}}</td>
            </tr>
            {% endfor %}
            {%set final = final/aux%}
            <tr>
                <td colspan="4">Calificación Final:</td>
                <td>{{final}}</td>
            </tr>
            
        </tbody>
    </table>
    <p>Apreciado docente: solicite a estos docentes que lo evaluen para obtener una calificación final de este instrumento</p>
   {% endblock %}