{% block body -%}
<body>
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
    <h3>Coevaluaciones de {{ entity.user.nombres }} {{ entity.user.apellidos }} del periodo {{entity.periodo}}</h3>  
 
    <table>
        <tr>
            <td>
               <b>1. Red de Tutores: </b>Evaluación recibida de los tutores del curso     
            </td>
        </tr>    
    </table>   
    
   
{%set final=0%} {%set aux=0%}
<table>
{%for curso in entity.director%}    
        <thead>
           <tr>
           <td align="left" colspan="3">Curso: {{curso.id}} - {{curso.nombre}}</td>
            </tr>
            <tr>
                <th>Tutor</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
        </thead>
            <tbody>    
            {%for tutor in curso.tutores%}
                  
            <tr>
                            <td>{{tutor.docente.user.nombres}} {{tutor.docente.user.apellidos}}</td>
                            <td>{{tutor.coevaldirector? tutor.coevaldirector.observaciones : 'No evaluo' }}</td>
                            <td>{{tutor.coevaldirector? '*' : 'n/a'}}</td>
            </tr>
            {%if tutor.coevaldirector%}{%set final=final+tutor.coevaldirector.f0%}{%set aux=aux+1%}{%endif%}  
            {%endfor%}
{%endfor%}
            <tr>
                <td colspan="2" align="right"><b>Calificación Final del Instrumento:</b></td>
                <td>{%if final > 0%}{%set final = final/aux%} {{final|number_format(1, '.', ',')}}{%endif%}</td>
            </tr>
            </tbody>
            
            
   {%if entity.tutoria|length > 0 %}
    <table>
      <tr><td colspan="4">
       <b>2. Rol de Tutor: </b>Evaluación recibida del director de curso
        </td></tr>
        
            <tr>
                <th>Curso</th>
                <th>Director</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>      
            {%for tutor in entity.tutoria%}
   
            <tr>
            <td>{{tutor.curso.nombre}}</td>
            <td>
            {%if tutor.coevaltutor%}
            {{tutor.curso.director.user.nombres}} {{tutor.curso.director.user.apellidos}}
            {%endif%}
            </td>
             
             <td>{{tutor.coevaltutor.observaciones}}</td>
             <td>{{tutor.coevaltutor.f0}}</td>
            </tr>
        {%endfor%}

        </tbody>
        </table>
{%endif%}            

  {%if entity.director|length > 0 %}
        <table>
            <tr><td colspan="4">
                <b>3. Director de curso: </b>Evaluación recibida del lider nacional de programa o cadena de formación. 
                </td></tr>
            <tr>
                <th>Curso</th>
                <th>Lider</th>
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>   
            {%for curso in entity.director%}
  
             
            <tr>
            <td>{{curso.nombre}}</td>    
             <td>
            {%if curso.programa.lider %}  
            {{curso.programa.lider.user.nombres}} {{curso.programa.lider.user.apellidos}}
             {%endif%}  
             </td>
             <td>{{curso.coeval? curso.coeval.observaciones : 'N/A'}}</td>
             <td>{{curso.coeval? curso.coeval.f0 : 'N/A'}}</td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
{%endif%}
            
    {%if entity.lider|length > 0 %}
        
       <table>
       <tr><td colspan="4">
                <b>4. Lider de Programa: </b>Evaluación recibida del Decano Nacional 
                </td></tr>
            <tr>
            <tr>
                <th>Programa</th>
              
                <th>Observaciones</th>
                <th>Calificación</th>
            </tr>
            <tbody>     
            {%for programa in entity.lider%}
            <tr>
            <td>{{programa.nombre}}</td>
            
             <td>{{programa.coeval? programa.coeval.observaciones : 'N/A'}}</td>
             <td>{{programa.coeval? programa.coeval.f0 : 'N/A'}}</td>
            </tr>
        {%endfor%}
  
        </tbody>
        </table>
   {%endif%}            

{% endblock %}