
  <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
      <tr>
          <td colspan="4">
          <h4>Información de {{ entity.user.nombres }} {{ entity.user.apellidos }} del periodo {{entity.periodo}}</h4>   
          </td>    
      </tr>
  <tr>
    <th>Cédula</th>
    <td>{{ entity.user.id }}</td>
    <th>Vinculación / Modalidad</th>
    <td>{{ entity.vinculacion }} / {{ entity.modalidad }}</td>
  </tr>
  <tr>
    <th>Cargo</th>
    <td>{{ entity.cargo }}</td>
    <th>Correo</th>
    <td>{{ entity.user.email }}</td>
  </tr>
   <tr>
    <th>Perfil</th>
    <td>{{ entity.perfil }}</td>
    <th>Programa</th>
    <td>{{ entity.programa.nombre }}</td>
  </tr> 
  <tr>
      <td colspan="2"><b>Escuela:</b> {{ entity.escuela.nombre }}<br>
    Decano: {{ entity.escuela.decano.nombres }} {{ entity.escuela.decano.apellidos }}
    </td>   
    <td colspan="2"><b>Centro:</b> {{ entity.centro.nombre }}<br>
    Director:{%if entity.centro.director %} {{ entity.centro.director.nombres }} {{ entity.centro.director.apellidos }}{%endif%}
    </td>
  </tr>
  </table>
<h4>Asignación en Roles de Formación</h4>
  
  <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
    <tr>
      <th>Tutor</th>
   <td>
       {%if entity.tutoria|length > 0%}
       <i class="fa fa-check" style="color: #739e73"></i>
       {%else%}
       <i class="fa fa-times" style="color: #a90329"></i>
       {%endif%}
   </td>
      <td colspan="3">{%for tutoria in entity.tutoria%} 
      {{tutoria.curso.id}}:
      {{tutoria.curso.nombre}} Director: 
      {%if tutoria.curso.director%}
        {{tutoria.curso.director.user.nombres}} {{tutoria.curso.director.user.apellidos}} 
      {%endif%}
      <br>{%endfor%}
   </td>
  </tr>
    <tr>
   <th>Director y Tutor</th>
   <td>
       {%if entity.director|length > 0%}
       <i class="fa fa-check" style="color: #739e73"></i>
       {%else%}
       <i class="fa fa-times" style="color: #a90329"></i>
       {%endif%}
   </td>
      <td colspan="3">
      {%for curso in entity.director%}
      <a data-toggle="modal" href="{{ path('curso_modal', { 'id': curso.id }) }}" data-target="#myModal">{{curso.id}}:</a>
      {{curso.nombre}} <br> {%endfor%}
   </td>
  </tr> 
  <tr>
   <th>Líder de Cadena o Programa</th>
   <td>
       {%if entity.lider|length > 0%}
       <i class="fa fa-check" style="color: #739e73"></i>
       {%else%}
       <i class="fa fa-times" style="color: #a90329"></i>
       {%endif%}
   </td>
      <td colspan="3">
      {%for programa in entity.lider%}
      <a data-toggle="modal" href="{{ path('programa_modal', { 'id': programa.id }) }}" data-target="#myModal">{{programa.id}}</a>    
      {{programa.nombre}} <br> {%endfor%}
   </td>
  </tr>
</table>