<head>
<title>{% block title %}{{docente.user.id}}-{{docente.periodo}}{% endblock %}</title>
</head>
{% block body -%}
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">

 <table  class="data" widtd="100%" border="0">
  <tr>
    <td colspan="4" align="center"><img src="/img/logo-med-unad.png" alt="MED">
        <br>INFORME FINAL DE EVALUACIÓN INDIVIDUAL
    </td>
  </tr>
  <tr>
    <td>Cédula</td>
    <td>{{docente.user.id}}</td>
    <td>Periodo Acádemico</td>
    <td>2014-1</td>
  </tr>
  <tr>
    <td>Nombres</td>
    <td>{{docente.user.nombres}}</td>
    <td>Programa</td>
    <td>{{docente.programa.nombre}}</td>
  </tr>
  <tr>
    <td>Apellidos</td>
    <td>{{docente.user.apellidos}}</td>
    <td>Cargo</td>
    <td>{{docente.cargo}}</td>
  </tr>
  <tr>
    <td colspan="2">Vinculación: {{docente.vinculacion}} - Modalidad: {{docente.modalidad}}</td>
    <td colspan="2">Resolución: {{docente.resolucion}} - Perfil: {{docente.perfil}}</td>
  </tr>
  <tr>
    <td colspan="4">Escuela: {{docente.escuela.nombre}}<br>
                     Decano: {{docente.escuela.decano.nombres}} {{docente.escuela.decano.apellidos}}
    </td>
  </tr>
  <tr>
      <td colspan="2">Centro: {{docente.centro.nombre}}</td>
    <td colspan="2">
      Director:
    {%if docente.centro.director%}
{{docente.centro.director.nombres}} {{docente.centro.director.apellidos}}
    {%endif%}
    </td>
  </tr>
      <tr>
    <td>Tutorias de curso:</td>
    <td colspan="3">{%for curso in docente.tutoria%} 
      {{curso.id}}:
      {{curso.nombre}} - {%endfor%}
   </td>
  </tr>
    <tr>
   <td>Direcciones de curso:</td>
      <td colspan="3">
      {%for curso in docente.director%}
      {{curso.id}} {{curso.nombre}} <br> {%endfor%}
   </td>
  </tr>
</table>
<table class="data" width="100%" border="0">
  <tr>
    <td class="data" align="center" colspan="7">Heteroevaluación de Estudiantes - Compentencias Evaluadas</td>
  </tr>
  <tr>
    <td class="data">Cognitiva</td>
    <td class="data">Comunicativa</td>
    <td class="data">Metodológicas</td>
    <td class="data">Pedagógico - Didácticas</td>
    <td class="data">Socioafectiva</td>
    <td class="data">Tecnológica</td>
    <td class="data">Calificación Final H1</td>
  </tr>
  <tr>
      <td class="data" align="center">{{(docente.heteroeval.competencia1/20)|number_format(2, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia2/20)|number_format(2, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia3/20)|number_format(2, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia4/20)|number_format(2, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia5/20)|number_format(2, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia6/20)|number_format(2, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.calificacion/20)|number_format(2, '.', ',')}}</td>
  </tr>
</table>
 <table  class="data" widtd="100%" border="0">
  <tr>
    <td>Item</td>
    <td>Instrumento</td>
    <td>Tipo</td>
    <td>Evalua</td>
    <td>Calificación</td>
  </tr>
  <tr>
    <td>A1</td>
    <td>Plan de Gestión</td>
    <td>Autoevaluación</td>
    <td>Docente</td>
    <td>{{docente.evaluacion.auto? docente.evaluacion.auto : 'Sin Autoevaluación' }}</td>
  </tr>
  <tr>
    <td>H1</td>
    <td>Evaluación de Estudiantes</td>
    <td>Heteroevaluación</td>
    <td>Estudiante</td>
    <td>{{docente.evaluacion.hetero1? docente.evaluacion.hetero1 : 'Sin registros'}}</td>
  </tr>
  <tr>
    <td>C1</td>
    <td>Coevaluación de la Red Tutores</td>
    <td>Coevaluación</td>
    <td>Tutor</td>
    <td>{{docente.evaluacion.co5? docente.evaluacion.co5: 'n/a' }}</td>
  </tr>
  {%if  docente.evaluacion.co2%}
    <tr>
    <td>C2</td>
    <td>Coevaluación cómo Tutor</td>
    <td>Coevaluación</td>
    <td>Director de Curso</td>
    <td>{{docente.evaluacion.co2}}</td>
  </tr>
  {%endif%}
    {%if  docente.evaluacion.co3%}
    <tr>
    <td>C3</td>
    <td>Coevaluación cómo Director</td>
        <td>Coevaluación</td>
    <td>Lider de Programa</td>
    <td>{{docente.evaluacion.co3}}</td>
  </tr>
  {%endif%}
    {%if  docente.evaluacion.co4%}
    <tr>
    <td>C4</td>
    <td>Coevaluación Lider de Programa</td>
    <td>Coevaluación</td>
    <td>Decano Nacional</td>
    <td>{{docente.evaluacion.co4}}</td>
  </tr>
  {%endif%}
</table>
       
<table  class="data" widtd="100%" border="0">
  <tr>
    <td>Tipo de Evaluación</td>
    <td>Ponderación:</td>
    <td>Porcentil</td>
  </tr>
  <tr>
    <td>Autoevaluación (A1)</td>
    <td>25%</td>
    <td>{{(docente.evaluacion.auto*0.25)|number_format(2, '.', ',')}}</td>
  </tr>
  <tr>
    <td>Heteroevaluación (H1)</td>
    <td>50%</td>
    <td>{{docente.evaluacion.hetero? (docente.evaluacion.hetero*0.50)|number_format(2, '.', ',') : ''}}</td>
  </tr>
  <tr>
    <td>Coevaluación (C1,C2,C3 y C4)</td>
    <td>25%</td>
    <td>{{docente.evaluacion.co? (docente.evaluacion.co*0.25)|number_format(2, '.', ','): ''}}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><h3>Evaluación Final del Desempeño</h3></td>
    <td><h3>{{docente.evaluacion.final? docente.evaluacion.final|number_format(1, '.', ',') : '*'}}</h3>
    </td>
    </tr>
</table>

<table>
    <tr>
    <td colspan="3" align="center">Evaluación Número:{{docente.id}} -  Fecha y hora de consulta: {{ "now"|date("m/d/Y H:m") }}</td>
  </tr>
</table>
{% endblock %}