<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{docente.user.id}}-{{docente.periodo}}{% endblock %}</title>
<meta name="description" content="Informe Final de Evaluación">
<meta charset="utf-8">
<meta name="author" content="MED Módulo de Evaluación Docente UNAD">
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
</head>
{% block body -%}
 <table  class="data" widtd="100%" border="0">
  <tr>
    <td colspan="4" align="center"><img src="/img/logo-med-unad.png" alt="MED">
        <br>INFORME FINAL DE EVALUACIÓN INDIVIDUAL
    </td>
  </tr>
  <tr>
    <td>Cédula</td>
    <td>{{docente.user.id}}</td>
    <td>Periodo de Evaluación</td>
    <td>{{docente.periodo}}</td>
  </tr>
  <tr>
    <td>Nombres</td>
    <td>{{docente.user.nombres}}</td>
    <td>Programa</td>
    <td>{{docente.programa.nombre}}</td>
  </tr>
  <tr>
    <td>Apellidos</td>
    <td>{{docente.user.apellidos}}</td>
    <td>Cargo</td>
    <td>{{docente.cargo}}</td>
  </tr>
  <tr>
    <td colspan="2">Vinculación: {{docente.vinculacion}} - Modalidad: {{docente.modalidad}}</td>
    <td colspan="2">Resolución: {{docente.resolucion}} - Perfil: {{docente.perfil}}</td>
  </tr>
  <tr>
    <td colspan="4">Escuela: {{docente.escuela.nombre}}<br>
                     Decano: {{docente.escuela.decano.nombres}} {{docente.escuela.decano.apellidos}}
    </td>
  </tr>
  <tr>
      <td colspan="2">Centro: {{docente.centro.nombre}}</td>
    <td colspan="2">
      Director:
    {%if docente.centro.director%}
{{docente.centro.director.nombres}} {{docente.centro.director.apellidos}}
    {%endif%}
    </td>
  </tr>
      <tr>
    <td>Tutorias de curso:</td>
    <td colspan="3">
      {%for tutor in docente.tutoria%}
      {{tutor.oferta.curso.id}} {{tutor.oferta.curso.nombre}},  {%endfor%}
    </td>
  </tr>
    <tr>
   <td>Direcciones de curso:</td>
      <td colspan="3">
      {%for oferta in docente.director%}
      {{oferta.curso.id}} {{oferta.curso.nombre}} - {{oferta.periodo}}, {%endfor%}
   </td>
  </tr>
</table>
{%if docente.heteroeval%}
<table class="data" width="100%" border="0">
    <tr>
      <td class="data" colspan="7"><b>EVALUACIÓN DE ESTUDIANTES</b></td>
  </tr>
  <tr>
    <td class="data">Cognitiva</td>
    <td class="data">Comunicativa</td>
    <td class="data">Metodológicas</td>
    <td class="data">Pedagógico - Didácticas</td>
    <td class="data">Socioafectiva</td>
    <td class="data">Tecnológica</td>
    <td class="data">Calificación Final H1</td>
  </tr>
  <tr>
   <td class="data" align="center">{{(docente.heteroeval.competencia1/20)|number_format(1, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia2/20)|number_format(1, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia3/20)|number_format(1, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia4/20)|number_format(1, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia5/20)|number_format(1, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.competencia6/20)|number_format(1, '.', ',')}}</td>
    <td class="data" align="center">{{(docente.heteroeval.calificacion)|number_format(1, '.', ',')}}</td>
  </tr>
</table>
{%endif%}
 <table  class="data" widtd="100%" border="0">
        <tr>
      <td class="data" colspan="5"><b>RESULTADOS POR INSTRUMENTOS</b></td>
  </tr>
     <tr>
    <td>Item</td>
    <td>Instrumento</td>
    <td>Tipo</td>
    <td>Evaluó</td>
    <td>Calificación</td>
  </tr>
  <tr>
    <td>A1</td>
    <td>Plan de Gestión</td>
    <td>Autoevaluación</td>
    <td>Docente</td>
    <td>{{docente.evaluacion.auto? docente.evaluacion.auto : 'Sin Autoevaluación' }}</td>
  </tr>
  <tr>
    <td>H1</td>
    <td>Evaluación de Estudiantes</td>
    <td>Heteroevaluación</td>
    <td>Estudiante</td>
    <td>{{docente.evaluacion.hetero1? docente.evaluacion.hetero1 : 'Sin registros'}}</td>
  </tr>
   {%if  docente.evaluacion.co5%}
  <tr>
    <td>C2</td>
    <td>Coevaluación de la Red Tutores</td>
    <td>Coevaluación</td>
    <td>Tutor</td>
    <td>{{docente.evaluacion.co5? docente.evaluacion.co5: 'n/a' }}</td>
  </tr>
  {%endif%}
    {%if  docente.evaluacion.co2%}
    <tr>
    <td>C3</td>
    <td>Coevaluación cómo Tutor</td>
    <td>Coevaluación</td>
    <td>Director de Curso</td>
    <td>{{docente.evaluacion.co2}}</td>
  </tr>
  {%endif%}
    {%if  docente.evaluacion.co3%}
    <tr>
    <td>C4</td>
    <td>Coevaluación cómo Director</td>
        <td>Coevaluación</td>
    <td>Lider de Programa</td>
    <td>{{docente.evaluacion.co3}}</td>
  </tr>
  {%endif%}
    {%if  docente.evaluacion.co4%}
    <tr>
    <td>C5</td>
    <td>Coevaluación Lider de Programa</td>
    <td>Coevaluación</td>
    <td>Decano Nacional</td>
    <td>{{docente.evaluacion.co4}}</td>
  </tr>
  {%endif%}
</table>
       
<table  class="data" widtd="100%" border="0">
      <tr>
      <td class="data" colspan="3"><b>CONSOLIDACIÓN FINAL</b></td>
  </tr>
    <tr>
    <td>Tipo de Evaluación</td>
    <td>Ponderación:</td>
    <td>Porcentil</td>
  </tr>
  <tr>
    <td>Autoevaluación (A1)</td>
    <td>25%</td>
    <td>{{(docente.evaluacion.auto*0.25)|number_format(2, '.', ',')}}</td>
  </tr>
  <tr>
    <td>Heteroevaluación (H1)</td>
    <td>50%</td>
    <td>{{docente.evaluacion.hetero? (docente.evaluacion.hetero*0.50)|number_format(2, '.', ',') : ''}}</td>
  </tr>
  <tr>
    <td>Coevaluación (C2,C3,C4 y C5)</td>
    <td>25%</td>
    <td>{{docente.evaluacion.co? (docente.evaluacion.co*0.25)|number_format(2, '.', ','): ''}}</td>
  </tr>
  <tr>
    <td>Fecha de consolidación: {{docente.evaluacion.fecha|date('d/m/Y')}}</td>
    <td><h3>Evaluación Final del Desempeño</h3></td>
    <td><h3>{{docente.evaluacion.final? docente.evaluacion.final|number_format(1, '.', ',') : '*'}}</h3>
    </td>
    </tr>
</table>

<table>
    <tr>
    <td colspan="3" align="center">Evaluación Número:{{docente.id}} -  Fecha y hora de consulta: {{ "now"|date("d/m/Y H:m") }}</td>
  </tr>
</table>
{% endblock %}
</html>