<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ docente.user.id }}-{{ docente.periodo }}{% endblock %}</title>
    <meta name="description" content="Informe Final de Evaluación">
    <meta charset="utf-8">
    <meta name="author" content="MED Módulo de Evaluación Docente UNAD">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
</head>
{% block body -%}
    <table class="data" widtd="100%" border="0">
        <tr>
            <td colspan="4" align="center"><img src="/img/logo-med-unad.png" alt="MED">
                <h3>INFORME FINAL DE EVALUACIÓN INDIVIDUAL DOFE</h3>
            </td>
        </tr>
        <tr>
            <td><b>Cédula</b></td>
            <td>{{ docente.user.id }}</td>
            <td><b>Periodo de Evaluación</b></td>
            <td>{{ docente.periodo }}</td>
        </tr>
        <tr>
            <td><b>Nombres</b></td>
            <td>{{ docente.user.nombres }}</td>
            <td><b>Programa</b></td>
            <td>{{ docente.programa.nombre }}</td>
        </tr>
        <tr>
            <td><b>Apellidos</b></td>
            <td>{{ docente.user.apellidos }}</td>
            <td><b>Cargo</b></td>
            <td>{{ docente.cargo }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Vinculación:</b> {{ docente.vinculacion }} - <b>Modalidad:</b> {{ docente.modalidad }}
            </td>
            <td colspan="2"><b>Perfil:</b> {{ docente.perfil }}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Escuela:</b> {{ docente.escuela.nombre }}<br>
                <b>Decano:</b> {{ docente.escuela.decano.nombres }} {{ docente.escuela.decano.apellidos }}
            </td>
        </tr>
        <tr>
            <td colspan="2"><b>Centro:</b> {{ docente.centro.nombre }}</td>
            <td colspan="2">
                <b>Director:</b>
                {% if docente.centro.director %}
                    {{ docente.centro.director.nombres }} {{ docente.centro.director.apellidos }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><b>Tutorias de curso:</b></td>
            <td colspan="3">
                {% for tutor in docente.tutoria %}
                    {{ tutor.oferta.curso.id }} {{ tutor.oferta.curso.nombre }},  {% endfor %}
            </td>
        </tr>
        <tr>
            <td><b>Direcciones de curso:</b></td>
            <td colspan="3">
                {% for oferta in docente.director %}
                    {{ oferta.curso.id }} {{ oferta.curso.nombre }} - {{ oferta.periodo }}, {% endfor %}
            </td>
        </tr>
    </table>
    {% if docente.heteroeval %}
        <table width="100%" border="0">
            <tr>
                <td class="titulo" colspan="8">EVALUACIÓN DE ESTUDIANTES</td>
            </tr>
            <tr>
                <td>Competencia</td>
                <td class="centro">Cognitiva</td>
                <td class="centro">Comunicativa</td>
                <td class="centro">Metodológicas</td>
                <td class="centro">Pedagógico - Didácticas</td>
                <td class="centro">Socioafectiva</td>
                <td class="centro">Tecnológica</td>
                <td class="centro">Promedio</td>
            </tr>
            <tr>
                <td>Calificación</td>
                <td class="centro">{{ (docente.heteroeval.competencia1)|number_format(1, '.', ',') }}</td>
                <td class="centro">{{ (docente.heteroeval.competencia2)|number_format(1, '.', ',') }}</td>
                <td class="centro">{{ (docente.heteroeval.competencia3)|number_format(1, '.', ',') }}</td>
                <td class="centro">{{ (docente.heteroeval.competencia4)|number_format(1, '.', ',') }}</td>
                <td class="centro">{{ (docente.heteroeval.competencia5)|number_format(1, '.', ',') }}</td>
                <td class="centro">{{ (docente.heteroeval.competencia6)|number_format(1, '.', ',') }}</td>
                <td class="centro">{{ (docente.heteroeval.calificacion)|number_format(1, '.', ',') }}</td>
            </tr>
        </table>
    {% endif %}

    <table widtd="100%" border="0">
        <tr>
            <td class="titulo" colspan="5">RESULTADOS EVALUACION DOFE</td>
        </tr>
        <tr>
            <th>Instrumento</th>
            <th>Evaluadores DOFE</th>
            <th>Evaluación</th>
        </tr>
        <td>Cumplimiento plan de trabajo</td>
        <td>
            {% for eval in red %}
                {{ eval.perfil }}: {{ eval.evaluador.nombres }} {{ eval.evaluador.apellidos }} <br>
            {% endfor %}
        </td>
        <td>
            {% for eval in red %}


                {% if eval.calificacion is not null %}
                    {% if eval.calificacion >= 25 %}
                        <span class="center-block padding-5 label label-success">Superior</span><br>
                    {% elseif eval.calificacion < 25 and eval.calificacion > 15 %}
                        <span class="center-block padding-5 label label-warning">Medio</span><br>
                    {% elseif eval.calificacion <= 15 and eval.calificacion > 0 %}
                        <span class="center-block padding-5 label label-default">Bajo</span><br>
                    {% else %}
                    {% endif %}
                {% else %}
                    -
                {% endif %}


            {% endfor %}
        </td>

    </table>


    <table widtd="100%" border="0">
        <tr>
            <td class="titulo" colspan="5">RESULTADOS CO EVALUACIONES</td>
        </tr>
        <tr>
            <td class="centro">Item</td>
            <td class="centro">Instrumento</td>
            <td class="centro">Tipo</td>
            <td class="centro">Evaluó</td>
            <td class="centro">Calificación</td>
        </tr>
        {% if  docente.evaluacion.co5 %}
            <tr>
                <td>C2</td>
                <td>Coevaluación de la Red Tutores</td>
                <td>Coevaluación</td>
                <td>Tutor</td>
                <td class="centro">{{ docente.evaluacion.co5? docente.evaluacion.co5: 'n/a' }}</td>
            </tr>
        {% endif %}
        {% if  docente.evaluacion.co2 %}
            <tr>
                <td>C3</td>
                <td>Coevaluación cómo Tutor</td>
                <td>Coevaluación</td>
                <td>Director de Curso</td>
                <td class="centro">{{ docente.evaluacion.co2 }}</td>
            </tr>
        {% endif %}
        {% if  docente.evaluacion.co3 %}
            <tr>
                <td>C4</td>
                <td>Coevaluación cómo Director</td>
                <td>Coevaluación</td>
                <td>Lider de Programa</td>
                <td class="centro">{{ docente.evaluacion.co3 }}</td>
            </tr>
        {% endif %}
    </table>

    <table widtd="100%" border="0">
        <tr>
            <td class="titulo" colspan="3">CONSOLIDACIÓN FINAL</td>
        </tr>
        <tr>
            <td class="centro">Tipo de Evaluación</td>
            <td class="centro">Ponderación:</td>
            <td class="centro">Resultado</td>
        </tr>
        <tr>
            <td>Cumplimiento plan de trabajo</td>
            <td></td>
            <td class="centro">
                {% if docente.evaluacion.auto is not null %}
                    {% if docente.evaluacion.auto >= 25 %}
                        <span class="center-block padding-5 label label-success">Superior</span><br>
                    {% elseif docente.evaluacion.auto < 25 and docente.evaluacion.auto > 15 %}
                        <span class="center-block padding-5 label label-warning">Medio</span><br>
                    {% elseif docente.evaluacion.auto <= 15 and docente.evaluacion.auto > 0 %}
                        <span class="center-block padding-5 label label-default">Bajo</span><br>
                    {% else %}
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Heteroevaluación</td>
            <td></td>
            <td class="centro">{{ docente.evaluacion.hetero? (docente.evaluacion.hetero)|number_format(1, '.', ',') : '' }}</td>
        </tr>
        <tr>
            <td>Coevaluación (C2,C3 y C4)</td>
            <td></td>
            <td class="centro">{{ docente.evaluacion.co? (docente.evaluacion.co)|number_format(1, '.', ','): '' }}</td>
        </tr>
        <tr>
            <td>Fecha de consolidación: {{ docente.evaluacion.fecha|date('d/m/Y') }}</td>
            <td class="centro"><h3>Evaluación Final del Desempeño</h3></td>
            <td class="centro">
                <h3>
                    {% if docente.evaluacion.auto is not null %}
                        {% if docente.evaluacion.auto >= 25 %}
                            <span class="center-block padding-5 label label-success">Superior</span><br>
                        {% elseif docente.evaluacion.auto < 25 and docente.evaluacion.auto > 15 %}
                            <span class="center-block padding-5 label label-warning">Medio</span><br>
                        {% elseif docente.evaluacion.auto <= 15 and docente.evaluacion.auto > 0 %}
                            <span class="center-block padding-5 label label-default">Bajo</span><br>
                        {% else %}
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </h3>
            </td>
        </tr>
    </table>

    <table>
        {% if docente.evaluacion.aclaraciones %}
            <tr>
                <td>
                    ACLARACIONES:<br>
                    {{ docente.evaluacion.aclaraciones }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3" align="center">Evaluación Número:{{ docente.id }} - Fecha y hora de
                consulta: {{ "now"|date("d/m/Y H:m") }}</td>
        </tr>
    </table>
{% endblock %}
</html>