{% block body -%}
<link rel="stylesheet" type="text/css" href="{{ asset('css/print.css') }}">
<table>
  <tr>
    <td align="center" class="data" colspan="4"><h1>UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA<br/>
    EVALUACIÓN DEL DESEMPEÑO DOCENTE</h1></td>
  </tr>
  <tr>
      <td align="center" class="data" colspan="4"><h3>Instrumento 2: Evaluación Estudiantil (Heteroevalación)</h3></td>
  </tr>
  <tr>
    <td class="data"><b>Fecha de la evaluación:</b></td>
    <td class="data">{{entity.heteroeval.fecha|date('Y-m-d H:i   ')}}</td>
    <td class="data"><b>Momento de la evaluación:</b> Final del periodo académico</td>
    <td class="data"><b>Fecha y hora de consulta:</b> {{"now"|date('Y-m-d H:i   ')}}</td>
  </tr>
  <tr>
    <td class="data"><b>Descripción del Instrumento:</b></td>
    <td class="data" colspan="3">Instrumento dirigido a garantizar la participación de los estudiantes en la evaluación de calidad de las actividades formativas del docente en las responsabilidades institucionales que le correspondan y en cada curso a su cargo, en particular sus competencias, relacionadas con la calidad de los contenidos y su planificación y desarrollo, la calidad de la interacción formativa, las formas de evaluación en el mismo y los propios resultados del aprendizaje.</td>
  </tr>
  <tr>
    <td class="data"><b>Escala de Evaluación:</b></td>
    <td class="data" colspan="3">0 - 100%</td>
  </tr>
</table>

<table class="data" width="100%" border="0">
  <tr>
    <td align="center" class="data" colspan="4"><h3>Información del docente que se evaluá:</h3></td>
  </tr>
  <tr>
    <td class="data"><b>Cédula:</b></td>
    <td class="data">{{entity.user.id}}</td>
    <td class="data"><b>Nombres:</b></td>
    <td class="data">{{entity.user.nombres}} {{entity.user.apellidos}}</td>
  </tr>
  <tr>
    <td class="data"><b>Tipo de vinculación</b></td>
    <td class="data">{{entity.vinculacion}}</td>
    <td class="data"><b>Escuela o Vicerrectoria:</b></td>
    <td class="data">{{entity.escuela.nombre}}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="data"><b>Decano o Vicerrector:</b></td>
    <td class="data">{{entity.escuela.decano.nombres}} {{entity.escuela.decano.apellidos}}</td>
  </tr>
</table>
<table class="data" width="100%" border="0">
  <tr>
    <td class="data" align="center" colspan="6">COMPETENCIA QUE SE EVALUA</td>
    <td class="data">&nbsp;</td>
    <td class="data">&nbsp;</td>
  </tr>
  <tr>
    <td class="data">COMPETENCIA COGNITIVA</td>
    <td class="data">COMPETENCIA COMUNICATIVA</td>
    <td class="data">COMPETENCIA METODOLÓGICA</td>
    <td class="data">COMPETENCIA PEDAGÓGICO - DIDÁCTICAS</td>
    <td class="data">COMPETENCIA SOCIOAFECTIVA</td>
    <td class="data">COMPETENCIA TECNOLÓGICA</td>
    <td class="data">CALIFICACIÓN OBTENIDA</td>
    <td class="data">CALIFICACIÓN FINAL DEL INSTRUMENTO 2</td>
  </tr>
  <tr>
    <td class="data" align="center">{{entity.heteroeval.competencia1}}%</td>
    <td class="data" align="center">{{entity.heteroeval.competencia2}}%</td>
    <td class="data" align="center">{{entity.heteroeval.competencia3}}%</td>
    <td class="data" align="center">{{entity.heteroeval.competencia4}}%</td>
    <td class="data" align="center">{{entity.heteroeval.competencia5}}%</td>
    <td class="data" align="center">{{entity.heteroeval.competencia6}}%</td>
    <td class="data" align="center">{{entity.heteroeval.calificacion}}%</td>
    <td class="data" align="center">{{entity.heteroeval.calificacion/20}}</td>
  </tr>
</table>
form-med-02.v1
   {% endblock %}