{% extends '::base.html.twig' %}
{% block body -%}
    {{ include(
            'AdminUnadBundle:Docente:detalle.html.twig',
            {'entity': entity}
        ) }}

    {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
            <li>
                <a href="{{ path('docente_edit', { 'id': entity.id }) }}">
                    Edit
                </a></li>
        </ul>
    {%endif%}

    <h4>3. Resultados</h4>
    <table class="table table-bordered hidden-mobile" style="width: 95%">

        <tr>
            <th>
                {%if entity.vinculacion == 'DC'%}
                    1. Plan de Gestión      
                {%else%}
                    1. Plan de Actividades
                {%endif%}
                (Autoevaluación)
            </th>
            <td>
                <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Actividades <i class="fa fa-sign-in"></i></a>    
            </td>    
            <td>
                <a href="javascript:popUp('{{ path('plangestion_autoeval', { 'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Autoevaluación <i class="fa fa-sign-in"></i></a>
            </td>
        </tr>
        <tr>
            <th>
                2. Evaluación de estudiantes (Heteroevaluación)
            </th>
            <td>
                {%if entity.heteroeval%} 
                    <a href="javascript:popUp('{{ path('heteroeval_info', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver... <i class="fa fa-sign-in"></i></a>
                {%else%} Sin registros {%endif%}
            </td> 
            <td></td>
        </tr>
        <tr>
            <th>
                3. Coevaluaciones
            </th>
            <td>
                {%if entity.evaluacion%}
                    <a href="javascript:popUp('{{ path('coeval_info', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver... <i class="fa fa-sign-in"></i></a>
                    {%endif%}
            </td> 
            <td></td>
        </tr>

        <tr>
            <th>
                5. Informe de Evaluación Final
            </th>
            <td>
                {%if entity.evaluacion%}
                    {%if entity.evaluacion.auto%} 
                        <a href="javascript:popUp('{{ path('docente_final', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver... <i class="fa fa-sign-in"></i></a>
                        {%endif%}
                    {%endif%}
            </td> 
            <td></td>
        </tr>

    </table>

    <script>

        function popUp(URL) {

            if (typeof (popupWin) != "object" || popupWin.closed) {
                popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
            } else {
                popupWin.location.href = URL;
            }
            popupWin.focus();
        }
    </script>

{% endblock %}
