{% extends '::base.html.twig' %}
{% block body -%}
   <h1>Docente Id:{{ entity.id }}</h1>
  <table class="table table-bordered table-striped hidden-mobile">
  <tr>
    <th class="data">Cédula</th>
    <td class="data">{{ entity.user.id }}</td>
    <th class="data">Periodo Acádemico</th>
    <td class="data">2014-1</td>
  </tr>
  <tr>
    <th class="data">Nombres</th>
    <td class="data">{{ entity.user.nombres }}</td>
    <th class="data">Vinculación</th>
    <td class="data">{{ entity.vinculacion }}</td>
  </tr>
  <tr>
    <th class="data">Apellidos</th>
    <td class="data">{{ entity.user.apellidos }}</td>
    <th class="data">Centro</th>
    <td class="data">{{ entity.centro.nombre }}</td>
  </tr>
  <tr>
    <th class="data">Escuela</th>
    <td class="data">{{ entity.escuela.nombre }}</td>
    <th class="data">Modalidad</th>
    <td class="data">{{ entity.modalidad }}</td>
  </tr>
  <tr>
    <th class="data">Programa</th>
    <td class="data">{{ entity.programa.nombre }}</td>
    <th class="data">Perfil</th>
    <td class="data">{{ entity.perfil }}</td>
  </tr>
    <tr>
    <th class="data">Cargo</th>
    <td class="data">{{ entity.cargo }}</td>
    <th class="data">Correo</th>
    <td class="data">{{ entity.user.email }}</td>
  </tr>
  <tr>
   <th>Dirección de curso</th>
      <td colspan="3">{%for curso in entity.director%} {{curso.id}}:{{curso.nombre}} | {%endfor%}
   </td>
  </tr> 
  <tr>
      <th>Tutorias</th>
      <td colspan="3">{%for curso in entity.tutoria%} {{curso.id}}:{{curso.nombre}} | {%endfor%}
   </td>
  </tr>
</table>
         {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('docente_edit', { 'id': entity.id }) }}">
            Edit
        </a></li>
</ul>
           {%endif%}
   <table class="table table-bordered table-striped hidden-mobile">
{% for plan in entity.planmejoramiento %}
  <tr>
    <th class="data">1. Plan de Mejoramiento</th>
    <td class="data"><a href="{{ path('planmejoramiento_doc', { 'id': plan.id }) }}">Ver</a></td></tr>
   {% endfor %}
   </table>
   
  <table class="table table-bordered table-striped hidden-mobile">

  <tr>
    <th class="data">
    {%if entity.vinculacion == 'DC'%}
    1. Plan de Gestión      
    {%else%}
    1. Plan de Activiades
    {%endif%}
        </th>
    <td class="data"><a href="{{ path('plangestion_show', { 'id': entity.id }) }}">Ver</a></td></tr>
  </table>
{% endblock %}
   