{% extends '::base.html.twig' %}
{% block body -%}
        {{ include(
            'AdminUnadBundle:Docente:detalle.html.twig',
            {'entity': entity}
        ) }}
         {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('docente_edit', { 'id': entity.id }) }}">
            Edit
        </a></li>
</ul>
           {%endif%}

<h4>3. Instrumentos de Evaluación</h4>
  <table class="table table-bordered hidden-mobile" style="width: 95%">
      <tr>
          <th>Instrumento</th>
          <th>Descripción</th>
          <th>Acción</th>
          <th>Estado</th>
      </tr>
{%if entity.vinculacion == 'De Carrera'%}  
        <tr>
        <th>
        Plan de Gestión Docente
        </th>
        <td>Formato Plan de Gestión en formato Excel  <a href="http://siga.unad.edu.co/docs/formato_plan_gestion_docente.xlsx" target="new">(Descargar) <i class="fa fa-download"></i></a></td>
        <td>
        {%if entity.plangestion.formato%}
            <a href="../../../{{entity.plangestion.formato.webpath}}"><i class="fa fa-file-o"></i> Ver Archivo...</a>
            {%else%}
            <a href="{{ path('formatoplang_new', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">Cargar <i class="fa fa-upload"></i></a>
            {%endif%}
        </td>
        <td>
        {%if entity.plangestion.formato%}
       <i class="fa fa-check" style="color: #739e73"></i>
       {%else%}
       <i class="fa fa-times" style="color: #a90329"></i>
       {%endif%}    
        </td>
    </tr>
    <tr>
    <th></th>
    <td>Plan de Gestión Aprobado en PDF. (Este es cargado por el Decano Nacional)</td>
    <td>
    {%if entity.plangestion.pdf%}
    <a href="javascript:popUp('../../../{{entity.plangestion.pdf.webpath}}')"><i class="fa fa-file-o"></i> Ver Archivo...</a>
    {%else%}
    No cargado
    {%endif%}     
    </td>
    <td>
      {%if entity.plangestion.pdf%}
       <i class="fa fa-check" style="color: #739e73"></i>
       {%else%}
       <i class="fa fa-times" style="color: #a90329"></i>
       {%endif%}  
    </td>
    </tr>
    
      <tr>      
    <th>Registro Roles

    </th>
    <td>Registro de roles para autoevaluación</td>    
    <td>
    {%if entity.plangestion %}
    {%if instrumentos[0].estado%}   
    <a href="{{ path('plangestion_crear') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%else%}<i>Ver cronograma</i>{%endif%}
    {%endif%}
    </td>
  
        <td>
        {%if entity.plangestion.estado == 'Cerrado' or  entity.plangestion.estado == 'Autoevaluado' or  entity.plangestion.estado == 'Confirmado' %}
       <i class="fa fa-check" style="color: #739e73"></i>
       {%else%}
       <i class="fa fa-times" style="color: #a90329"></i>
       {%endif%}    
        </td>
      </tr>
      <tr>
    <th>Autoevaluación
    </th>
    <td>Descrición del avance y cargue de evidencias</td>    
    <td>
    {%if entity.plangestion %}
          {%if instrumentos[1].estado%}  
    <a href="{{ path('plangestion_show', { 'id': entity.plangestion.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
            {%else%}<i>Ver cronograma</i>{%endif%}
            {%endif%}
    </td>
    <td>
    {%if entity.plangestion.autoevaluacion is not null%}
    <i class="fa fa-check" style="color: #739e73"></i>
    {%else%}
   <i class="fa fa-times" style="color: #a90329"></i>
   {%endif%}
    </td>
    </tr>
 {%else%}
      <tr>
    <th>Autoevaluación (Plan de Actividades)</th>
    <td>Plan de Actividades
    <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.id }) }}')">(Asignación académica)</a>
    </td>    
    <td>
    {%if entity.plangestion.autoevaluacion is null %}
     {%if instrumentos[1].estado%} 
    <a href="{{ path('plangestion_conf', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%else%}<i>Ver cronograma</i>{%endif%}
    {%else%}
    <i>Ver Resultados</i>
    {%endif%}    
    </td>

    </tr>  
 {%endif%}
  {%if entity.tutoria|length > 0%}
    <tr>
    <th>
Coevaluación -  Red de tutores
        </th>
        <td>Evaluación del tutor al director de curso</td> 
    <td>
     {%if instrumentos[2].estado%}    
    <a href="{{ path('redtutores') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%endif%}
    </td>
  </tr>
  {%endif%}
    {%if entity.director|length > 0%}
  <tr> 
    <th>
Coevaluación - Director de curso a tutores
        </th>
        <td>Evaluación del director a los tutores de curso</td> 
    <td>
    {%if instrumentos[3].estado%}     
    <a href="{{ path('docente_coevaltutor') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%endif%}
    </td> 
  </tr>
  {%endif%}
        {% if entity.lider|length > 0 %}
       <tr>
           <th>
          Coevaluación - Lider o Cordinador Nacional a Directores de Curso 
           </th>
           <td>Evaluación del lider a los directores de curso</td>
           <td>
               {%if instrumentos[4].estado%} 
           <a href="{{ path('docente_coevaldirector') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>  
           {%endif%}
           </td>    
       </tr>
       {%endif%}
  
        {% if entity.ternado|length != 0%}
       <tr>
           <th>
           Coevaluación - Terna de Pares 
           </th>
           <td>Evaluación de la terna a los pares acádemicos</td>
           <td>
           {%if instrumentos[6].estado%} 
               <a href="{{ path('docente_coevalpares') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>  
           {%endif%}
           </td>       
       </tr>
       {%endif%}
       
  </table>

<table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
{% for plan in entity.planmejoramiento %}
  <tr>
    <th>Plan de Mejoramiento</th>
    <td>
   <a href="{{ path('planmejoramiento_doc', { 'id': plan.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a> 
    </td></tr>
   {% endfor %}
   </table>

<h4>4. Resultados</h4>
<table class="table table-bordered hidden-mobile" style="width: 95%">
    <tr>
    <th>
    {%if entity.vinculacion == 'De Carrera'%}
    1. Plan de Gestión      
    {%else%}
    1. Plan de Actividades
    {%endif%}
    (Autoevaluación)
        </th>
        <td>
        </td>    
    <td>
{%if entity.plangestion.autoevaluacion is not null %}
        <a href="javascript:popUp('{{ path('plangestion_autoeval', { 'id': entity.plangestion.id }) }}')" class="btn btn-primary btn-xs">Ver Autoevaluación <i class="fa fa-sign-in"></i></a>
   {%endif%}
    </td>
    </tr>
    <tr>
    <th>
2. Evaluación de estudiantes (Heteroevaluación)
        </th>
        <td>
           {%if entity.heteroeval%} 
            <a href="javascript:popUp('{{ path('heteroeval_info', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%else%}  {%endif%}
        </td> 
    <td></td>
  </tr>
      <tr>
    <th>
3. Coevaluaciones
        </th>
        <td>
            {%if entity.evaluacion%}
            <a href="javascript:popUp('{{ path('coeval_info', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%endif%}
        </td> 
    <td></td>
  </tr>
  {%if entity.vinculacion == 'De Carrera'%}
        <tr>
    <th>
4. Informe de Evaluación Final DC
        </th>
        <td>
            {%if entity.evaluacion%}
            <a href="javascript:popUp('{{ path('docente_finaldc', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%endif%}
        </td> 
    <td></td>
  </tr>
  {%else%}
          <tr>
    <th>
4. Informe de Evaluación Final
        </th>
        <td>
        {%if entity.evaluacion%}        
            <a href="javascript:popUp('{{ path('docente_final', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%endif%}
        </td> 
    <td></td>
  </tr>
  {%endif%}
  </table>

 <div class="modal fade" data-refresh="true" id="ModalTutor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog">
<div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title">Red de Tutores</h4>
                </div>			<!-- /modal-header -->
                <div class="modal-body">
                <ul>
                    <li>
                    Si usted fue tutor y este no se encuentra en la lista de cursos de tutoría, solicite al director del curso que lo incluya en el curso enviándole su numero de cedula, esto le permitirá evaluar al director y recibir evaluación del director.
                    </li> 
                    <li>     
                    Si usted aparece como tutor de un curso del cual no lo fue ninguno de los periodos académicos del segundo semestre del presente año, solicite al director de curso que lo borre de la red.
                    </li> 
                </ul>
                </div>
                <div class="modal-footer">
                </div>
</div></div>
 </div>   
     
<div class="modal fade" data-refresh="true" id="ModalDirector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog">
<div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title">Director de Curso</h4>
                </div>			<!-- /modal-header -->
                <div class="modal-body">
                <ul>
                    <li>
                    Usted puede modificar la red de tutores haciendo clic sobre el código del curso, para agregar un tutor requiere únicamente el número de cedula.
                    </li> 
                    <li>     
                    Si usted fue director de curso y este no aparece en su lista por favor solicite el ajuste enviando un correo a siga@unad.edu.co especificando:
                    Nombre del Curso
                    Código 
                    Periodo (16-02, 8-04, 8.05).
                    </li> 
                </ul>
                </div>
                <div class="modal-footer">
                </div>
</div></div>
</div>



 <script>
  
function popUp(URL) {

    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'scrollbars=yes,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
    } 
    else{ 
        popupWin.location.href = URL; 
    }

    popupWin.focus(); 
 }
 
</script>
   
{% endblock %}
   