{% extends '::base.html.twig' %}
{% block body -%}
   <h1>Docente Id:{{ entity.id }}</h1>
  <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
  <tr>
    <th>Cédula</th>
    <td>{{ entity.user.id }}</td>
    <th>Periodo Acádemico</th>
    <td>2014-1</td>
  </tr>
  <tr>
    <th>Nombres</th>
    <td>{{ entity.user.nombres }}</td>
    <th>Vinculación</th>
    <td>{{ entity.vinculacion }}</td>
  </tr>
  <tr>
    <th>Apellidos</th>
    <td>{{ entity.user.apellidos }}</td>
    <th>Centro</th>
    <td>{{ entity.centro.nombre }}</td>
  </tr>
  <tr>
    <th>Escuela</th>
    <td>{{ entity.escuela.nombre }}</td>
    <th>Modalidad</th>
    <td>{{ entity.modalidad }}</td>
  </tr>
  <tr>
    <th>Programa</th>
    <td>{{ entity.programa.nombre }}</td>
    <th>Perfil</th>
    <td>{{ entity.perfil }}</td>
  </tr>
    <tr>
    <th>Cargo</th>
    <td>{{ entity.cargo }}</td>
    <th>Correo</th>
    <td>{{ entity.user.email }}</td>
  </tr>
  <tr>
   <th>Dirección de curso</th>
      <td colspan="3">{%for curso in entity.director%} {{curso.id}}:{{curso.nombre}} | {%endfor%}
   </td>
  </tr> 
  <tr>
      <th>Tutorias</th>
      <td colspan="3">{%for curso in entity.tutoria%} {{curso.id}}:{{curso.nombre}} | {%endfor%}
   </td>
  </tr>
</table>
         {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('docente_edit', { 'id': entity.id }) }}">
            Edit
        </a></li>
</ul>
           {%endif%}
   <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
{% for plan in entity.planmejoramiento %}
  <tr>
    <th>1. Plan de Mejoramiento</th>
    <td><a href="{{ path('planmejoramiento_doc', { 'id': plan.id }) }}">Ver</a></td></tr>
   {% endfor %}
   </table>
   
  <table class="table table-bordered hidden-mobile" style="width: 95%">
      <tr>
          <th>Instrumento de Evaluación</th>
          <th>Descripción</th>
          <th>Ingreso</th>
      </tr>
    <tr>
    <th>
    {%if entity.vinculacion == 'DC'%}
    1. Plan de Gestión      
    {%else%}
    1. Plan de Activiades
    {%endif%}
        </th>
    <td>Realice su autoevaluación</td>    
    <td><a href="{{ path('plangestion_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a></td></tr>
  <tr>
    <th>
2. Evaluación de la red de tutores
        </th>
        <td>Evalue a sus directores de curso diferentes a usted</td> 
    <td><a href="{{ path('docente_redtutores') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a></td></tr>
  <tr>
    <th>
3. Coevaluación - Director de curso a tutores
        </th>
        <td>Evalue a los tutores de sus cursos diferentes a usted</td> 
    <td>
    <a href="{{ path('docente_coevaltutor') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    </td>
  </tr>
        {% if entity.vinculacion == 'DC'%}
       <tr>
           <th>
           4.  Evaluación de Pares 
           </th>
           <td>Evaluae a los docentes de carrera de su escuela</td>
           <td>
           <a href="{{ path('docente_coevalpares') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>  
           </td>
       </tr>
       {%endif%}
  </table>
   
{% endblock %}
   