{% extends '::base.html.twig' %}
{% block body -%}
        {{ include(
            'AdminUnadBundle:Docente:detalle.html.twig',
            {'entity': entity}
        ) }}
         {% if is_granted('ROLE_ADMIN') %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('docente_edit', { 'id': entity.id }) }}">
            Edit
        </a></li>
</ul>
           {%endif%}

        <div class="alert alert-info fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-info"></i>
       <strong>Importante!</strong> Verifique su información:
            <ul>
            <li>Si encuantra algún error en la información de vinculación por favor envie un correo a la direccion siga@unad.edu.co solicitando el cambio.
            </li>
            <li>
            Si usted es tutor de un curso y no esta registrado o no es tutor un curso en el cual esta apareciendo, solicite al director de curso la modificación. 
            </li>
            </ul>
        </div>

<table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
{% for plan in entity.planmejoramiento %}
  <tr>
    <th>Plan de Mejoramiento</th>
    <td>
   <a href="{{ path('planmejoramiento_doc', { 'id': plan.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a> 
    </td></tr>
   {% endfor %}
   </table>
 {%if 1 %}  
  <table class="table table-bordered hidden-mobile" style="width: 95%">
      <tr>
          <th>Instrumento de Evaluación</th>
          <th>Descripción</th>
          <th>Ingreso</th>
      </tr>
{%if entity.vinculacion == 'De Carrera'%}  
    <tr>
    <th>Autoevaluación
    <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.id }) }}')">(Plan de Gestión)</a>
    </th>
    <td>Registro del los roles del plan de gestión y para la autoevaluación por actividades</td>    
    <td>
    {%if entity.plangestion %}
          {%if instrumentos[1].estado%}   
    <a href="{{ path('plangestion_crear', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
            {%else%}<i>Ver cronograma</i>{%endif%}
         {%else%}
    <a href="{{ path('plangestion_add') }}" class="btn btn-primary btn-xs">Crear Plan Gestión <i class="fa fa-plus"></i></a>
    {%endif%}    
    </td>

    </tr>
 {%else%}
      <tr>
    <th>Autoevaluación (Plan de Actividades)</th>
    <td>Plan de Actividades
    <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.id }) }}')">(Asignación académica)</a> 
    </td>    
    <td>
    {%if entity.plangestion %}
     {%if instrumentos[1].estado%} 
    <a href="{{ path('plangestion_conf', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%else%}<i>Ver cronograma</i>{%endif%}
    {%else%}
    Sin Registros
    {%endif%}    
    </td>

    </tr>  
 {%endif%}
  {%if entity.tutoria|length > 0%}
    <tr>
    <th>
Coevaluación -  Red de tutores
        </th>
        <td>Evaluación del tutor al director de curso</td> 
    <td>
     {%if instrumentos[2].estado%}    
    <a href="{{ path('docente_redtutores') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%endif%}
    </td>
  </tr>
  {%endif%}
    {%if entity.director|length > 0%}
  <tr> 
    <th>
Coevaluación - Director de curso a tutores
        </th>
        <td>Evaluación del director a los tutores de curso</td> 
    <td>
    {%if instrumentos[3].estado%}     
    <a href="{{ path('docente_coevaltutor') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>
    {%endif%}
    </td> 
  </tr>
  {%endif%}
        {% if entity.lider|length > 0 %}
       <tr>
           <th>
          Coevaluación - Lider o Cordinador Nacional a Directores de Curso 
           </th>
           <td>Evaluación del lider a los directores de curso</td>
           <td>
               {%if instrumentos[4].estado%} 
           <a href="{{ path('docente_coevaldirector') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>  
           {%endif%}
           </td>    
       </tr>
       {%endif%}
  
        {% if entity.ternado|length != 0%}
       <tr>
           <th>
           Coevaluación - Terna de Pares 
           </th>
           <td>Evaluación de la terna a los pares acádemicos</td>
           <td>
           {%if instrumentos[6].estado%} 
               <a href="{{ path('docente_coevalpares') }}" class="btn btn-primary btn-xs">Ingresar <i class="fa fa-sign-in"></i></a>  
           {%endif%}
           </td>       
       </tr>
       {%endif%}
       
  </table>
   {%endif%}
   <table class="table table-bordered hidden-mobile" style="width: 95%">
      <tr>
          <th>Resultados</th>
          <th></th>
          <th></th>
      </tr>
    <tr>
    <th>
    {%if entity.vinculacion == 'DC'%}
    1. Plan de Gestión      
    {%else%}
    1. Plan de Actividades
    {%endif%}
    (Autoevaluación)
        </th>
        <td>
        <a href="javascript:popUp('{{ path('plangestion_info', { 'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Activiades <i class="fa fa-sign-in"></i></a>    
        </td>    
    <td>
<a href="javascript:popUp('{{ path('plangestion_autoeval', { 'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Autoevaluación <i class="fa fa-sign-in"></i></a>
    </td>
    </tr>
    <tr>
    <th>
2. Evaluación de estudiantes (Heteroevaluación)
        </th>
        <td>
           {%if entity.heteroeval%} 
            <a href="javascript:popUp('{{ path('heteroeval_info', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%else%} Sin registros {%endif%}
        </td> 
    <td></td>
  </tr>
      <tr>
    <th>
3. Coevaluaciones
        </th>
        <td>
            {%if entity.evaluacion%}
            <a href="javascript:popUp('{{ path('coeval_info', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%endif%}
        </td> 
    <td></td>
  </tr>
  {%if entity.vinculacion == 'De Carrera'%}
        <tr>
    <th>
5. Informe de Evaluación Final DC
        </th>
        <td>
            {%if entity.evaluacion%}
            <a href="javascript:popUp('{{ path('docente_finaldc', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%endif%}
        </td> 
    <td></td>
  </tr>
  {%else%}
          <tr>
    <th>
5. Informe de Evaluación Final
        </th>
        <td>
        {%if entity.evaluacion%}        
            <a href="javascript:popUp('{{ path('docente_final', {'id': entity.id }) }}')" class="btn btn-primary btn-xs">Ver Calificaciones <i class="fa fa-sign-in"></i></a>
        {%endif%}
        </td> 
    <td></td>
  </tr>
  {%endif%}
  </table>
 <script>
  
function popUp(URL) {

    if(typeof(popupWin) != "object" || popupWin.closed)  { 
        popupWin = window.open(URL, 'popupWin', 'scrollbars=auto,toolbar=no,menubar=no,status=no,width=1000,height=600, left=100,top=100');
    } 
    else{ 
        popupWin.location.href = URL; 
    }

    popupWin.focus(); 
 }
 
</script>
   
{% endblock %}
   