  {% block body -%}
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            <h4 class="modal-title">Cumplimiento de Item</h4>
            </div>			<!-- /modal-header -->
            <div class="modal-body">          
   <form  action="{{ path('accionespm_editdoc', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
   <table class="table table-bordered table-striped hidden-mobile">
   <input type="hidden" name="_method" value="POST" />
     {{ form_errors(edit_form) }}
   <tr>
       <td>Oportunidad de Mejora</td>
       <td>{{ entity.oportunidad }}</td>
   </tr>
      <tr>
       <td>Acción Propuesta</td>
       <td>{{ entity.accion }}</td>
   </tr>
         <tr>
       <td>Archivo soporte</td>
       <td> {{ form_widget(edit_form.file) }}</td>
   </tr>
      <tr>
       <td>Observaciones de docente</td>
       <td> {{ form_widget(edit_form.observaciones) }}</td>
   </tr>
   <tr>
    <td></td>
    <td>    
    <button type="hidden" class="btn btn-lg btn-primary">Enviar</button></td>
  </tr>
  {{ form_widget(edit_form._token) }}
  </table>
</form>
</div>                
{% endblock %}
