<!DOCTYPE html>
    <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>Módulo de Evaluación Docente MED</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Use the correct meta names below for your web application
             Ref: http://davidbcalhoun.com/2010/viewport-metatag 

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">	
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">	

    <!-- SmartAdmin RTL Support is under construction
            <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/demo.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
                            <span id="logo"> <img src="img/logoUNAD.png" style="width:315px;height:67px" alt="Unad"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

		</header>

                <div id="main" role="main">

            <!-- MAIN CONTENT -->
                    <div id="content" class="container">
                   <h1 class="txt-color-orangeDark login-header-big">Vicerrectoría Académica y de Investigación - Módulo para la Evaluación del Desempeño Docente</h1>
                   <h4 class="paragraph-header"> Desarrollado en coherencia con las directrices emitidas por el Consejo Superior Universitario en el Acuerdo 003 del 28 de enero de 2011 y modificado por el Acuerdo 013 del 05 de mayo de 2011.</h4>
                   
                    <h4 class="paragraph-header">Ultimas circulares emitidas:</h4> 
                                         <table class="table table-bordered hidden-mobile">
        <thead>
                       <tr>
                           <th>Circular informativa</th>
                           <th>Fecha</th>
                           <th>Ver...</th>
                       </tr>
        </thead>
                        <tr>
                           <td>400.010</td>
                           <td>28 de marzo de 2017</td>
                           <td><a href="http://med.unad.edu.co/archivo/circular20171-1.pdf" target="new">Ver... <i class="fa fa-download"></i></a></td>
                       </tr>
                       <tr>
                           <td>400.018</td>
                           <td>7 de junio de 2017</td>
                           <td><a href="http://med.unad.edu.co/archivo/circular20171-2.pdf" target="new">Ver... <i class="fa fa-download"></i></a></td>
                       </tr>
                   </table>
                   <h1 class="txt-color-orangeDark login-header-big">Periodo de evaluación en curso: {{periodo.id}}</h1>
                   <h4 class="paragraph-header"> La evaluación de este periodo se realiza en base al desempeño de los periodos académicos:</h4>
                    <table class="table table-bordered hidden-mobile">
        <thead>
                <tr>
                <th>Periodo Académico</th>
                <th>Semanas</th>
                <th>Inicio eventos académicos</th>
                <th>Fin eventos académicos</th>
                 </tr>
               </thead> 
               <tbody>

            {%for periodoa in periodo.periodoa%}
                <tr>
                <td>{{periodoa.nombre}}</td>
                <td>{{ periodoa.semanas }}</td>
                <td>{{ periodoa.fechainicio|localizeddate('full', 'none', app.request.locale ) }}</td>
                <td>{{ periodoa.fechafin|localizeddate('full', 'none', app.request.locale )}}</td>
            {%endfor%}
        </tbody>
              </table>
                    </h4>
                    <br>
                    <table class="table table-bordered hidden-mobile">
                               <thead>
                        <tr>
                       <td colspan="3" align="center">
                       <h1 class="txt-color-orangeDark login-header-big">AUTENTICACIÓN E INGRESO</h1>
                       </td>
                       </tr>
                               </thead>
                       <tr>
                      <td colspan="3">
                        <h4>
                            Para ingresar al módulo debe primero debe ingresar al sitio  <a href="https://intranet.unad.edu.co/">intranet.unad.edu.co</a> luego seleccionar en el menú izquierdo “Módulo de Evaluación Docente MED”.
                         <br>
                            Si no puede superar la  autenticación de Intranet intente recuperar sus credenciales utilizando el instructivo que está a continuación o puede comunicarse con la Mesa de Ayuda al correo soporte.tecnico@unad.edu.co
                        </h4>
                   <br>
                       <a href="http://med.unad.edu.co/archivo/recuperacion-credenciales-acceso.pdf" target="new">Instructivo de Recuperación de Credenciales de Acceso <i class="fa fa-download"></i></a>
                       
                       </td>      
                       </tr>                  
                       <tr>

                           <td>
     
                       <a href="https://intranet.unad.edu.co" class="btn btn-primary btn-xs">Ir a Intranet <i class="fa fa-sign-in"></i></a>

                       </td>

                       
                       </tr>
                       <tr>
                           <td>
                                               {% for flashMessage in app.session.flashbag.get('error') %}
                     <div class="alert alert-danger fade in">
                     <button class="close" data-dismiss="alert">
                      ×
                                    </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>Error!</strong>  {{ flashMessage }}
                                    </div>
                        {% endfor %}
                            
                     {% for flashMessage in app.session.flashbag.get('success') %}
                     <div class="alert alert-success fade in">
                     <button class="close" data-dismiss="alert">
                      ×
                                    </button>
                                    <i class="fa-fw fa fa-check"></i>
                                    <strong>Hecho!</strong>  {{ flashMessage }}
                                    </div>
                        {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                     <div class="alert alert-warning fade in">
                     <button class="close" data-dismiss="alert">
                      ×
                                    </button>
                                    <i class="fa-fw fa fa-warning"></i>
                                    <strong>Advertencia!</strong>  {{ flashMessage }}
                                    </div>
                        {% endfor %}     
                           </td>
                           </tr>
                               {%if autenticacion == 'Aceptada' and user %}
                                                <div class="alert alert-warning fade in">
                     <button class="close" data-dismiss="alert">
                      ×
                                    </button>
                                    <i class="fa-fw fa fa-warning"></i>
                                    <strong>Advertencia!</strong>{{ ucount }} No se encontro el numero de cédula: {{cedula_usuario}} en el sistema, si considera que extiste alguna inconsistencia por favor escriba a omar.rodriguez@unad.edu.co
                                                </div>
                     {%endif%}
                           
               
                           
                          
                       <tr>
                           <td colspan="2" align="center">
                               <h5>Navegadores soportados en esta versión: Google Chrome y Firefox</h5>
                               {{direccion_ip}} 
                           </td>    
                       </tr>
                   </table>
                    
			</div>

		</div>         
                  

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="js/plugin/pace/pace.min.js"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="js/smartwidgets/jarvis.widget.min.js"></script>
		
		<!-- EASY PIE CHARTS -->
		<script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		
		<!-- SPARKLINES -->
		<script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>
		
		<!-- JQUERY VALIDATE -->
		<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>
		
		<!-- JQUERY SELECT2 INPUT -->
		<script src="js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
		
		<!-- browser msie issue fix -->
		<script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
		
		<!-- FastClick: For mobile devices -->
		<script src="js/plugin/fastclick/fastclick.js"></script>
		
		<!--[if IE 7]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="js/app.js"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : false
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Please enter your email address',
							email : 'Please enter a VALID email address'
						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>

	</body>
</html>{# empty Twig template #}
