{% extends '::base.html.twig' %}
{% block body -%}	
<!-- MAIN CONTENT -->

			<div id="content" class="container">
		
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-orangeDark login-header-big">MED Módulo de Evaluación Docente</h1>
                                                <h1 class="txt-color-orangeDark login-header-big">Perido de Evaluación: {{periodo.id}}</h1>
						<div class="hero">
							<div class="pull-left login-desc-box-l">
								<h5 class="paragraph-header">Desarrollado en coherencia con las directrices emitidas por el Consejo Superior Universitario en el Acuerdo 003 del 28 de enero de 2011, modificado por el Acuerdo 013 del 05 de mayo de 2011.</h5>
								<div class="login-app-icons">
								</div>
							</div>

						</div>

					</div>	

			</div>
                {% if is_granted('ROLE_ADMIN') %}
                <form method="get" action="?php echo $_GET['_quieroser'];?" >
                <fieldset>
                <legend>  </legend>
                <p><label>ID <input type=text name=_quieroser></label>
                <button>Enviar</button></p>  
                </fieldset>  
                </form>

 {%for periodo in periodos%}
 <h4> Periodo de Evaluación {{periodo.id}} del {{periodo.fechainicio|date('d/M') }} al {{periodo.fechafin|date('d/M') }} van {{hoy}} de {{dias}} </h4><br>
     <table class="table table-bordered hidden-mobile" style="width: 95%">
        <thead>
                <tr>
                <th>Id</th>
                <th>Periodo Académico</th>
                <th>Semanas</th>
                <th>Inicio eventos académicos</th>
                <th>Fin eventos académicos</th>
                 </tr>
               </thead> 
               <tbody>

            {%for periodoa in periodo.periodoa%}
                <tr>
                <td>{{periodoa.id}}</td>
                <td>{{periodoa.nombre}}</td>
                <td>{{ periodoa.semanas }}</td>
                <td>{{ periodoa.fechainicio|date('d - F', "America/Bogota" ) }}</td>
                <td>{{ periodoa.fechafin|date('d - F') }}</td>
            {%endfor%}
        </tbody>
              </table>            
  {%endfor%} 
  {%endif%}
{% endblock %}