{% extends '::base.html.twig' %}

{% block body -%}
               <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
            <h4 class="modal-title">Cargar Plan de Gestión</h4>
            </div>			<!-- /modal-header -->
            <div class="modal-body">          
   <form method="POST" action="{{path('formatoplang_create', { 'id': id })}}" {{ form_enctype(form) }}>
   <table class="table table-bordered table-striped hidden-mobile">
   <input type="hidden" name="_method" value="POST" />
     {{ form_errors(form) }}
   <tr>
     
       <td>
       Plan de Gestión Original escaneado<br>
       <font color="#F87217">Adjunte el escaner del plan de gestión (Formato excel), únicamente en formato PDF y máximo 1MB de tamaño</font>
       </td>
       		    <td>
		     {{ form_widget(form.file) }} <font color="red">{{ form_errors(form.file) }}</font> 
            </td>
   </tr>
   
   <tr>
    <td></td>
    <td><button type="hidden" class="btn btn-lg btn-primary">Guardar</button></td>
  </tr>
  {{ form_widget(form._token) }}
  </table>
</form>        
{% endblock %}

