{% extends '::base.html.twig' %}

{% block body -%}

    <div class="col-sm-12">
        <div class="well">
            <h1 class="txt-color-orangeDark login-header-big">Docentes por escuela y tipo vinculaci贸n del periodo de evaluaci贸n</h1>


            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-{{periodo}}"  data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="true"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Periodo de evaluaci贸n {{periodo}}</h2>
                </header>    
                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Escuela</th>
                                    <th>Sigla</th>
                                    <th>DC</th>
                                    <th>DOFE</th>
                                    <th>DO</th>
                                    <th>HC</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set tdc, tdofe, tdo, thc  = 0,0,0,0 %}
                                {% for entity in docsdc %}
                                    <tr>
                                        <td>{{ entity.escuela_id }}</td>
                                        <td>{{ entity.nombre }}</td>
                                        <td>{{ entity.sigla }}</td>
                                        <td>{{ entity.vdc }}{%set tdc = tdc + entity.vdc%}</td>
                                        <td>{{ entity.vdofe }}{%set tdofe = tdofe + entity.vdofe%}</td>
                                        <td>{{ entity.vdo }}{%set tdo = tdo + entity.vdo%}</td>
                                        <td>{{ entity.vhc }}{%set thc = thc + entity.vhc%}</td>
                                        <td><a  href="{{ path('docente_escuela', { 'id': entity.escuela_id, 'periodo': periodo }) }}">{{ entity.total }}</a></td>

                                    </tr>
                                {% endfor %}

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{tdc}}</td>
                                    <td>{{tdofe}}</td>
                                    <td>{{tdo}}</td>
                                    <td>{{thc}}</td>
                                    <td>{{tdc+tdofe+tdo+thc}}</td>         
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->                                                           
                Periodos de evaluaci贸n: 
                
                {%for periodo in periodos %}
                      <a class="btn btn-primary btn-sm" href="{{ path('docente_home', { 'periodo': periodo.id }) }}">{{periodo.id}} </a>
                      {%endfor%}  

        </div>
    </div>


{% endblock %}