{% extends '::base.html.twig' %}

{% block body -%}
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-{{escuela.id}}" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Docentes {{escuela.nombre}} del periodo de evalaución {{periodo}}</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                            </div>
                            <table id="datatable_tabletools" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Cédula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Vinculación</th>
                                        <th>Programa</th>
                                        <th>Centro</th>
                                        <th>Auto</th>
                                        <th>Hetero</th>
                                        <th>Co</th>
                                        <th>Final</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            <td><a href="{{ path('docente_info', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                            <td>
                                                <a href="{{ path('admin_user_show', { 'id': entity.user.id }) }}">{{ entity.user.id }}</a>
                                            </td>
                                            <td>{{ entity.user.nombres }}</td>
                                            <td>{{ entity.user.apellidos }}</td>
                                            <td>{{ entity.vinculacion }}</td>
                                            <td>{{ entity.programa.id }}</td>
                                            <td>{{ entity.centro.nombre }}</td>
                                            {%if entity.evaluacion %}
                                            <td>   
                                            {{ entity.evaluacion.auto }}
                                            </td>
                                                <td>   
                                            {{ entity.evaluacion.hetero }}
                                            </td>
                                                <td>   
                                            {{ entity.evaluacion.co }}
                                            </td>
                                                <td>   
                                            {{ entity.evaluacion.final }}
                                            </td>
                                            {%endif%}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->                 
{% endblock %}
