{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actividadrol list</h1>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Textoa</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('actividadrol_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.textoampliacion }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('actividadrol_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
